<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{pagedata.title}}</h2>
          <p>{{pagedata.description}}
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-12 mx-auto">

        <div class="row">
          <div class="col-12 col-lg-12 mx-auto">
            <div class="user-form">
              <form class="form sign-up__form"  [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
                <div class="myaccount-row-blk clearfix">

                  <h3>Parents</h3>
                  <div class="myaccount-row clearfix">
                    <div class="row">

                      <div class="col-12 col-lg-6">
                        <div class="form__field form__field--group">
                          <label>First Name</label>
                          <input class="form-control" value="{{profile.first_name}}" type="text" [formControl]="profileForm.controls['first_name']" name="first_name"   >
                          <p class="text-danger" *ngIf="profileForm.controls.first_name.invalid && (profileForm.controls.first_name.dirty || profileForm.controls.first_name.touched || submitted)">First Name is required</p>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="form__field form__field--group">
                          <label>Last Name</label>
                          <input class="form-control" [value]="profile.last_name" [formControl]="profileForm.controls['last_name']" type="text" name="last_name"   >
                          <p class="text-danger" *ngIf="profileForm.controls.last_name.invalid && (profileForm.controls.last_name.dirty || profileForm.controls.last_name.touched || submitted)">Last Name is required</p>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                          <div class="form__field form__field--group">
                            <label>Phone Number</label>
                            <input class="form-control" 
							ng2TelInput
  [ng2TelInputOptions]="{initialCountry: 'us'}"
  (hasError)="hasError($event)"
  (ng2TelOutput)="getNumber($event)"
  (intlTelInputObject)="telInputObject($event)"
  (countryChange)="onCountryChange($event)" 
  [textMask]="{mask: mask}"  [formControl]="profileForm.controls['phone']" type="text" name="phone"    >
                            <p class="text-danger" *ngIf="profileForm.controls.phone.hasError('required') && (profileForm.controls.phone.dirty || profileForm.controls.phone.touched || submitted)">Phone Number is required</p>
                            <p class="text-danger" *ngIf="profileForm.controls.phone.hasError('PhoneTen') && (profileForm.controls.phone.dirty || profileForm.controls.phone.touched || submitted)">Not a valid number</p>
                          </div>
                        </div>

                      <!-- end of col -->
                      <div class="col-12 col-lg-6">
                        <div class="form__field form__field--group">
                          <label>Email</label>
                          <input class="form-control" type="email" name="email" [value]="profile.email" placeholder="" disabled>
                        </div>
                      </div>
                      <!-- end of col -->

                      
                      
                      <!-- end of col -->

                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of myaccount-row -->
                  <div class="row">
                    <div class="col-12 col-lg-4 mx-auto">
                      <br>
                      <button type="submit" class="btn__submit" [disabled]="formload" >Update <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
                    </div>
                  </div>


                </div>
                <!-- end of myaccount-row-blk -->
              </form>
            </div>

          </div>
        </div>


      </div>
    </div>






  </div>
</section>