<section class="page-sign-in user-entrance login-regi-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Change Password</h2>
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
          <div class="user-form">
            <form class="form sign-up__form" [formGroup]="passForm" (ngSubmit)="onSubmit(passForm.value)">
              
               
              <div class="form__field form__field--group">
                <label>New Password</label>
                <input class="form-control" [formControl]="passForm.controls['password']" type="password" name="password" value="" placeholder="Password must be 8 characters long" >
                <p class="text-danger" *ngIf="passForm.controls.password.hasError('required') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitted)">Password is required</p>
                <p class="text-danger" *ngIf="passForm.controls.password.hasError('minlength') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitted)">Password must be 8 characters long</p>
              </div>
              <div class="form__field form__field--group">
                <label>Confirm New Password</label>
                <input class="form-control" [formControl]="passForm.controls['confirm_password']" type="password" name="confirm_password" value="" placeholder="Password must be 8 characters long" >
                <p class="text-danger" *ngIf="passForm.controls.confirm_password.invalid && (passForm.controls.confirm_password.dirty || passForm.controls.confirm_password.touched || submitted)">Password not match</p>
              </div>
              <button type="submit" class="btn__submit" [disabled]="formload" >Change Password <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
            </form>
          </div>
  
        </div>
      </div>
  
  
  
  
    </div>
  </section>