<!-- =========== pricing Start ============ -->
<section class="pricing-two" id="pricing" [class.top-150px]="isPage">
    <span class="abstract-shape right">
        <img class="svg" src="assets/img/diagonal-shape.svg" alt="shape">
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{pricingplans.title}}</h2>
                    <p>{{pricingplans.description}}
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>

        <div class="row">


            <ng-container *ngIf="formload">
                <div class="col-12 col-md-4">
                    <div class="prcing-table free reveal">
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name background-self hw25x100"></span>



                            <p>
                                <span class="value background-self hw20x60"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            </p>
                            <p>
                                <span class="value background-self hw50x150"></span>
                            </p>


                        </div>
                        <p>
                            <span class="value background-self hw10x200"></span>
                        </p>
                        <p>
                            <span class="value background-self hw10x200"></span>
                        </p>

                        <a href="javascript:void(0)" class="db-btn db-btn__type-lg db-btn__outline white-text background-self"> &nbsp;
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                        <div class="prcing-table free reveal">
                            <div class="prcing-header">
                                <span class="prcing-table__plan-name background-self hw25x100"></span>
    
    
    
                                <p>
                                    <span class="value background-self hw20x60"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                </p>
                                <p>
                                    <span class="value background-self hw50x150"></span>
                                </p>
    
    
                            </div>
                            <p>
                                <span class="value background-self hw10x200"></span>
                            </p>
                            <p>
                                <span class="value background-self hw10x200"></span>
                            </p>
    
                            <a href="javascript:void(0)" class="db-btn db-btn__type-lg db-btn__outline white-text background-self"> &nbsp;
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                            <div class="prcing-table free reveal">
                                <div class="prcing-header">
                                    <span class="prcing-table__plan-name background-self hw25x100"></span>
        
        
        
                                    <p>
                                        <span class="value background-self hw20x60"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </p>
                                    <p>
                                        <span class="value background-self hw50x150"></span>
                                    </p>
        
        
                                </div>
                                <p>
                                    <span class="value background-self hw10x200"></span>
                                </p>
                                <p>
                                    <span class="value background-self hw10x200"></span>
                                </p>
        
                                <a href="javascript:void(0)" class="db-btn db-btn__type-lg db-btn__outline white-text background-self"> &nbsp;
                                </a>
                            </div>
                        </div>

            </ng-container>

            <ng-container *ngFor="let item of planlist; let i = index;">
                <div class="col-12 col-md-4" >
                    <div class="prcing-table free reveal" [class.free-plan]="item.type == 'free'">
                        <div class="prcing-header">
                            <span class="prcing-table__plan-name" *ngIf="item.type == 'free'">Limited Time Introductory Offer</span>
                            <span class="prcing-table__plan-name" *ngIf="item.type != 'free'">{{item.title}}</span>    


                            <p *ngIf="item.actual_amount != item.show_amount && item.type != 'free'">

                                <span class="currency1">$</span>
                                <span class="value1">{{item.show_amount}}</span>

                            </p>
                            <p *ngIf="item.type != 'free'">

                                <span class="currency">$</span>
                                <span class="value">{{item.actual_amount}}</span>

                            </p>
                            <p *ngIf="item.type == 'free'">

                                <span class="currency">Free</span>
                                <span class="val-new">{{item.title}}</span>
                            </p>
                        </div>
                        <ul class="plan-features">
                            <li class="plan-features__list" [innerHTML]="item.description"></li>
                        </ul>
                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__outline " [class.white-text]="item.type != 'free'">Get Started Now!
                            <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right " [class.white-text]="item.type != 'free'"></i>
                        </a>
                    </div>
                </div>
            </ng-container>






        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 w-100p clearfix">
                <div class="mt-30 text-center">

                    <p>{{addchild.description_first_charge_info}}
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>
    </div>
</section>
<!-- =========== pricing End ============ -->