<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                        <h2>{{pagedata.title}}</h2>
                        <p>{{pagedata.description_step1}}</p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->



        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                
    <div class="request-badge-div clearfix">
    
      <div class="user-form">
      <form [formGroup]="badgeForm" (ngSubmit)="onSubmit(badgeForm.value)">
        <div class="request-badge-blk clearfix">
        
          <input type="text" [formControl]="badgeForm.controls['batch_id']" name="batch_id" class="form-control" placeholder="Badge ID">
          <p class="text-danger" *ngIf="badgeForm.controls.batch_id.invalid && (badgeForm.controls.batch_id.dirty || badgeForm.controls.batch_id.touched || submitted)">Badge ID is required</p>
        </div>
      
      
        
        <button type="submit" class="btn__submit disableonload mmb50" [disabled]="formload" [class.disabled]="formload" >Send Badge request <span *ngIf="formload"> ... </span></button>
      </form>
      </div>						
      
    </div><!-- end of request-badge-div -->
    

            </div>
        </div>





    </div>
</section>