<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Badge</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-12 mx-auto">


        <div class="badge-div clearfix">
          <div class="txt-pic-div clearfix">
            <div class="pic">
              <figure>
                <img src="assets/img/girl.jpg" alt="" />
              </figure>
            </div>
            <div class="detail-txt-div">
              <h4>Sophia William John</h4>
              <p class="badge-txt">10 Year | Female</p>

              <div class="badge-badge-txt">
                <h5>
                  <strong>Badge ID:</strong> BF8787889</h5>
              </div>

            </div>
          </div>




          <div class="user-form">
            <div class="txt-div">

              <div class="pop-child-detail clearfix">
                <div class="container-fluid">
                  <div class="row">


                    <div class="col-12 col-lg-3">
                      <p class="light-txt">Parent Name:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">John William</p>
                    </div>

                    <div class="col-12 col-lg-3">
                      <p class="light-txt">Birthdate:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">02/05/2008</p>
                    </div>

                    <div class="col-12 col-lg-3">
                      <p class="light-txt">Phone Number:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">+1 121 455 5668</p>
                    </div>

                    <div class="col-12 col-lg-3">
                      <p class="light-txt">School Name:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">Horace Greely High</p>
                    </div>

                    <div class="col-12 col-lg-3">
                      <p class="light-txt">School District Number:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">#4588899</p>
                    </div>

                    <div class="col-12 col-lg-3">
                      <p class="light-txt">State:</p>
                    </div>
                    <div class="col-12 col-lg-9">
                      <p class="dark-txt">New York</p>
                    </div>

                  </div>
                  <!-- end of row -->
                </div>
                <!-- end of container-fluid -->

              </div>
              <!-- end of pop-child-detail -->

            </div>


            <div class="row">
              <div class="col-6 col-lg-4 mx-auto">
                <br>
                <button type="submit" class="btn__submit">Done</button>
                <br>
                <br>
                <br>
              </div>
            </div>

          </div>
        </div>
        <!-- end of pop-payment-div -->




      </div>
    </div>





  </div>
</section>