<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>User : {{item.username}}</h2>
            <p>Badge ID : {{item.batch_id}}</p>
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
  
  
  
      <div class="row">
        <div class="col-12 col-lg-12 mx-auto">
  
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="add-child-div" ></div>
              <div class="user-form">
  
                
                <form class="form sign-up__form" [formGroup]="childForm" (ngSubmit)="onSubmit(childForm.value)">
                  <div class="myaccount-row-blk clearfix">
  
  
                    <div class="myaccount-row clearfix">
                      <div class="row">
  
                        <div class="col-12 col-lg-12">
                          <div class="form__field form__field--group">
                            <label><b>Document</b></label>
                            <input type="file" name="document" (change)="onFileChange($event,'document')" />

                            
                          </div>
                          <p> MySafetyNet will need the following validation documents from you </p>
                          <ul class="ul-newcustom01">
                              <li>Completed “Parental PermissionForm” (<a href="https://secure.mysafetynet.info/files/parentapermissionform.pdf" target="_blank" >   Download Form</a>)</li>
                              <li>A signed digital photocopy of the Parental Permission Form</li>
                              <li>A digital photocopy copy of my government ID (acceptable forms of ID include passport, state ID, state driver license)</li>
                              <li>A digital photocopy of my child’s government ID (acceptable forms of ID include passport, state ID, school ID)</li>
                              <li>A digital photocopy of myself and my child holding this Parental Permission Form</li>
                            
                          </ul>
                          <p>Please upload a digital photocopy (picture) of of the above and send it to us through this link one at a time</p>
                        </div>
                        
                      </div>
                      <!-- end of row -->
                    </div>
  
  
                    <div class="row">
                      <div class="col-12 col-lg-4 mx-auto">
                        <br>
                        <button type="submit" class="btn__submit" [disabled]="formload">Upload
                          <img *ngIf="formload" class="form_loader" src="assets/img/loader.gif" alt="Processing ...">
                        </button>
                      </div>
                    </div>
  
  
  
                  </div>
                  <!-- end of myaccount-row-blk -->
                </form>
              </div>
  
            </div>
          </div>
  
  
        </div>
      </div>
  
  
  
  
  
  
    </div>
  </section>