<section class="page-sign-in user-entrance gen-form-div pt200">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2> {{pagedata.title}} </h2>
          <p *ngIf="currentstep == 'first'">{{pagedata.description_step1}}</p>
          <p *ngIf="currentstep == 'second'">{{pagedata.description_step2}}</p>
          <p *ngIf="currentstep == 'third'">{{pagedata.description_step3}}</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-12 mx-auto">
        

        <div class="user-form" [hidden]="currentstep != 'third'" >
          

            <div class="row justify-content-md-center">

              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                    <p class="text-center">{{pagedata.description_first_charge_info}}</p>
                    <div id="card-element" class="field"></div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4 mx-auto">
                  <button  type="submit" class="btn__submit pre " (click)="gotoStep('second')" [class.disabled]="formload" [disabled]="formload">Previous </button>
                  <button type="submit" class="btn__submit next" (click)="processStep3()" [class.disabled]="formload" [disabled]="formload" >Next <img *ngIf="formload" class="form_loader_outer"  src="assets/img/loader.gif" alt="Processing ..."></button>
                </div>
            </div>
          
        </div>

        
        <div class="subscripitions-plans-div clearfix" *ngIf="currentstep == 'second'">
          
            <div class="row">
                <div class="">
                  <button type="submit" class="btn__submit " (click)="gotoStep('first')" >Previous </button>
                
                </div>
            </div>

            
          <div class="row">

            <div class="row pricing-panels mt-4">


              <ng-container *ngFor="let item of planlist; let i = index;">
                <div class="smaller-c col-md-4 d-flex justify-content-md-end justify-content-center">
                  <div class="card mt-50 option-1">
                    <div class="card-header">
                      <h1 class="heading-xs">{{item.title}}</h1>
                      <div class="sub-icons">
                        <span>
                          <img src="assets/img/subscription-icon.png" alt="" />
                        </span>
                      </div>
                    </div>
                    <div class="card-block d-flex flex-column pt-5">
                      <p class="txt-desc">
                        {{item.description}}
                      </p>
                      <div class="sub-btm" *ngIf="item.type != 'free'">
                        <h2 class="price">${{item.actual_amount}}</h2>
                        <h3 class="sub-txt">{{item.type}}</h3>
                      </div>
                      <div class="sub-btm" *ngIf="item.type == 'free'">
                        <h2 class="price">Free</h2>
                      </div>


                      <div class="btn-div">
                        <a href="javascript:void(0)" (click)="processStep2(item.id)" class="btn-round">Select Package</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              




            </div>
          </div>


          <div class="row justify-content-md-center">

              <div class="col-12 col-lg-12">
                <div class="form__field form__field--group">
                    <p class="text-center padding50">{{pagedata.description_first_charge_info}}</p>
                </div>
              </div>
            </div>

          
          <!-- end of row -->
        </div>
        <!-- end of subscripitions-plans-div-->

        <div class="user-form" *ngIf="currentstep == 'first'">
          <form class="form sign-up__form" [formGroup]="childForm" (ngSubmit)="processStep1(childForm.value)">

            <div class="row">

              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Child First Name</label>
                  <input class="form-control" [formControl]="childForm.controls['first_name']" type="text" name="text" value="" placeholder="Enter Child First Name">
                  <p class="text-danger" *ngIf="childForm.controls.first_name.invalid && (childForm.controls.first_name.dirty || childForm.controls.first_name.touched || submitted)">First Name is required</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Child Last Name</label>
                  <input class="form-control" [formControl]="childForm.controls['last_name']" type="text" name="text" value="" placeholder="Enter Child Last Name">
                  <p class="text-danger" *ngIf="childForm.controls.last_name.invalid && (childForm.controls.last_name.dirty || childForm.controls.last_name.touched || submitted)">Last Name is required</p>
                </div>
              </div>
              <!-- end of col -->


              <div class="col-12 col-lg-6">
                  <div class="form__field form__field--group">
                    <label>Date of Birth</label>
  
                    <div class="input-group date">
                      <input type="text" class="form-control" [formControl]="childForm.controls['dob']" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                        [maxDate]="maxDate" [minDate]="minDate" bsDatepicker>
                      <p class="text-danger" *ngIf="childForm.controls.dob.invalid && (submitted)">Date of Birth required</p>
                    </div>
                  </div>
                </div>
              
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Gender</label>
                  <div class="form-check">
                    <input class="form-check-input" [formControl]="childForm.controls['gender']" type="radio" name="gender" id="gender_male"
                      value="male" [checked]="true">
                    <label class="form-check-label" for="gender_male">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" [formControl]="childForm.controls['gender']" type="radio" name="gender" id="gender_female"
                      value="female">
                    <label class="form-check-label" for="gender_female">
                      Female
                    </label>
                  </div>
                  <p class="text-danger" *ngIf="childForm.controls.gender.invalid && (childForm.controls.gender.dirty || childForm.controls.gender.touched || submitted)">Please Select Gender</p>
                </div>
              </div>
              <!-- end of col -->


              
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Phone Number</label>
                  <input class="form-control" 
				  ng2TelInput
  [ng2TelInputOptions]="{initialCountry: 'us'}"
  (hasError)="hasError($event)"
  (ng2TelOutput)="getNumber($event)"
  (intlTelInputObject)="telInputObject($event)"
  (countryChange)="onCountryChange($event)"
  [textMask]="{mask: mask}" (blur)="verifyForm('phone')" [formControl]="childForm.controls['phone']" type="text" name="text" value="" placeholder="Enter Phone Number">
                  <p class="text-danger" *ngIf="childForm.controls.phone.hasError('required') && (childForm.controls.phone.dirty || childForm.controls.phone.touched || submitted)">Phone Number is required</p>
                  <p class="text-danger" *ngIf="childForm.controls.phone.hasError('PhoneTen') && (childForm.controls.phone.dirty || childForm.controls.phone.touched || submitted)">Not a valid number</p>
                  <p class="text-danger" *ngIf="childForm.controls.phone.valid && !isunique_phone">Same phone number exist , try with unique phone number.</p>
                </div>
              </div>
              <!-- end of col -->


              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>School Name</label>
                  <div class="autocomplete">
                    <input id="myschool" [formControl]="childForm.controls['school_name']" type="text" class="form-control" name="myschool" placeholder="School Name">
                    <p class="text-danger" *ngIf="childForm.controls.school_name.invalid && (childForm.controls.school_name.dirty || childForm.controls.school_name.touched || submitted)">School Name is required</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>School District Number</label>
                  <input class="form-control" [formControl]="childForm.controls['school_district_no']" type="text" name="text" value="" placeholder="Enter School District Number">
                  <p class="text-danger" *ngIf="childForm.controls.school_district_no.invalid && (childForm.controls.school_district_no.dirty || childForm.controls.school_district_no.touched || submitted)">School District Number is required</p>
                </div>
              </div>
              <!-- end of col -->

              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>State</label>
                  <input id="myState" [formControl]="childForm.controls['state']" type="text" class="form-control" name="state" placeholder="State Name">
                  <p class="text-danger" *ngIf="childForm.controls.state.invalid && (childForm.controls.state.dirty || childForm.controls.state.touched || submitted)">State is required</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Username</label>
                  <input class="form-control" (blur)="verifyForm('username')" [formControl]="childForm.controls['username']" type="text" name="text" value="" placeholder="Enter username">
                  <p class="text-danger" *ngIf="childForm.controls.username.invalid && (childForm.controls.username.dirty || childForm.controls.username.touched || submitted)">Username is required</p>
                  <p class="text-danger" *ngIf="childForm.controls.username.valid && !isunique_username">Same username exist , try with unique username.</p>
                </div>
              </div>
              <!-- end of col -->

              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Password</label>
                  <input class="form-control" [formControl]="childForm.controls['password']" type="password" placeholder="Enter password" name="password" value="" >
                  <p class="text-danger" *ngIf="childForm.controls.password.hasError('required') && (childForm.controls.password.dirty || childForm.controls.password.touched || submitted)">Password is required</p>
                  <p class="text-danger" *ngIf="childForm.controls.password.hasError('minlength') && (childForm.controls.password.dirty || childForm.controls.password.touched || submitted)">Password must be 8 characters long</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form__field form__field--group">
                  <label>Confirm Password</label>
                  <input class="form-control" [formControl]="childForm.controls['confirm_password']" placeholder="Confirm password" type="password" name="text" value="" >
                  <p class="text-danger" *ngIf="childForm.controls.confirm_password.invalid && (childForm.controls.confirm_password.dirty || childForm.controls.confirm_password.touched || submitted)">Confirm Password not match</p>
                </div>
              </div>
              <!-- end of col -->


            </div>

            <div class="row">
                <div class="col-12 col-lg-4 mx-auto">
                  <button type="submit" class="btn__submit "  >Next</button>
                </div>
            </div>

            

          </form>
        </div>

      </div>
    </div>



  </div>
</section>