<!-- =========== Reviews ============ -->
<section class="page-sign-in user-entrance login-regi-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Child Forgot Password</h2>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="user-form" *ngIf="step =='first'">
                    <form class="form sign-up__form" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
                        <div class="form__field form__field--group">
                            <label>Phone Number</label>
                            <input class="form-control" [formControl]="forgotForm.controls['phone']" type="text" name="phone" value="" placeholder="Enter Phone Number"
                                required>
                            <p class="text-danger" *ngIf="forgotForm.controls.phone.invalid && (forgotForm.controls.phone.dirty || forgotForm.controls.phone.touched || submitted)">Phone number is required</p>
                        </div>

                        <button type="submit" class="btn__submit" [disabled]="formload">Submit
                            <img *ngIf="formload" class="form_loader" src="assets/img/loader.gif" alt="Processing ...">
                        </button>
                    </form>
                </div>
                <div class="user-form" *ngIf="step =='two'">
                    <p> One Time Password has been sent to your registerd phone number.</p>
                    <form class="form sign-up__form" [formGroup]="passForm" (ngSubmit)="onResetPassword(passForm.value)">

                        <div class="form__field form__field--group">
                            <label>Username</label>
                            <input class="form-control" [formControl]="passForm.controls['username']" type="text" name="username" value="" placeholder="Enter username"
                                required>
                            <p class="text-danger" *ngIf="passForm.controls.username.invalid && (passForm.controls.username.dirty || passForm.controls.username.touched || submitteda)">Username is required</p>
                        </div>
                        <div class="form__field form__field--group">
                            <label>Otp</label>
                            <input class="form-control" [formControl]="passForm.controls['otp']" type="text" name="otp" value="" placeholder="Enter Otp"
                                required>
                            <p class="text-danger" *ngIf="passForm.controls.otp.invalid && (passForm.controls.otp.dirty || passForm.controls.otp.touched || submitteda)">Otp is required</p>
                        </div>
                        <div class="form__field form__field--group">
                            <label>New Password</label>
                            <input class="form-control" [formControl]="passForm.controls['password']" type="password" name="password" value="" placeholder="New Password">
                            <p class="text-danger" *ngIf="passForm.controls.password.hasError('required') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitteda)">Password is required</p>
                            <p class="text-danger" *ngIf="passForm.controls.password.hasError('minlength') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitteda)">Password must be 8 characters long</p>
                        </div>
                        <div class="form__field form__field--group">
                            <label>Confirm New Password</label>
                            <input class="form-control" [formControl]="passForm.controls['confirm_password']" type="password" name="confirm_password"
                                value="" placeholder="Confirm password">
                            <p class="text-danger" *ngIf="passForm.controls.confirm_password.invalid && (passForm.controls.confirm_password.dirty || passForm.controls.confirm_password.touched || submitteda)">Confirm Password not match</p>
                        </div>
                        <button type="submit" class="btn__submit" [disabled]="formload">Change Password
                            <img *ngIf="formload" class="form_loader" src="assets/img/loader.gif" alt="Processing ...">
                        </button>
                    </form>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">

                <div class="child-login-div" *ngIf="step =='first'">
                    <a href="javascript:void(0)" (click)="gotoRoute('child-signin')"  class="child-login">Login</a>
                </div>
                <div class="child-login-div" *ngIf="step =='two'">
                    <a href="javascript:void(0)" (click)="resend()" class="child-login">Still not received Otp ? Resend OTP.</a>
                </div>
            </div>
        </div>

    </div>
</section>