<div *ngIf="false" class="order-listing clearfix layout-loader background">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
    <div class="d"></div>
    <div class="e"></div>
    <div class="f"></div>
    <div class="g"></div>
    <div class="h"></div>
    <div class="i"></div>
    <div class="j"></div>
    <div class="k"></div>
    <div class="l"></div>
</div>

<div class="order-listing clearfix ">
    <div class="thumb">
        <figure>
            <img src="assets/img/transparant.png" class="background-self" alt="" />
        </figure>
    </div>
    <div class="txt-div pull-left">
        <h4 class="background-self margin-bottom-10">&nbsp;</h4>
        <p class="date-txt background-self hw10xfull">&nbsp;</p>
        <p class="more-txt ">
            <span class="in-progress background-self hw25x100" title="Active User"> &nbsp;</span>
        </p>
    </div>
    <div class="order-edit">
        <a href="javascript:void(0)" class="background-self hw20x200"> &nbsp;</a>
    </div>
</div>

<div class="order-listing clearfix ">
    <div class="thumb">
        <figure>
            <img src="assets/img/transparant.png" class="background-self" alt="" />
        </figure>
    </div>
    <div class="txt-div pull-left">
        <h4 class="background-self margin-bottom-10">&nbsp;</h4>
        <p class="date-txt background-self hw10xfull">&nbsp;</p>
        <p class="more-txt ">
            <span class="in-progress background-self hw25x100" title="Active User"> &nbsp;</span>
        </p>
    </div>
    <div class="order-edit">
        <a href="javascript:void(0)" class="background-self hw20x200"> &nbsp;</a>
    </div>
</div>

<div class="order-listing clearfix ">
    <div class="thumb">
        <figure>
            <img src="assets/img/transparant.png" class="background-self" alt="" />
        </figure>
    </div>
    <div class="txt-div pull-left">
        <h4 class="background-self margin-bottom-10">&nbsp;</h4>
        <p class="date-txt background-self hw10xfull">&nbsp;</p>
        <p class="more-txt ">
            <span class="in-progress background-self hw25x100" title="Active User"> &nbsp;</span>
        </p>
    </div>
    <div class="order-edit">
        <a href="javascript:void(0)" class="background-self hw20x200"> &nbsp;</a>
    </div>
</div>