<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 *ngIf="!formload">{{blog.title}}</h2>
                    <h2 *ngIf="formload" class="background-self bs-page-header-center">&nbsp;</h2>
                    <p *ngIf="!formload">{{blog.sort_desc}}</p>
                    <p *ngIf="formload" class="background-self hw20x200 bs-center">&nbsp;</p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto" *ngIf="formload">
                <div class="content-p-div clearfix">
                    <h3 class="background-self bs-page-sub-header-left margin-bottom-10">&nbsp;</h3>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>

                    <br/>
                    <h3 class="background-self bs-page-sub-header-left margin-bottom-10">&nbsp;</h3>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>

                    <br/>
                    <h3 class="background-self bs-page-sub-header-left margin-bottom-10">&nbsp;</h3>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>
                    <p class="background-self hw10xfull"></p>
                    <p class="background-self hw10xhalf"></p>

                    <br/>
                </div>
            </div>

            <div class="col-12 col-lg-12 mx-auto" *ngIf="!formload">
                <div class="content-p-div clearfix">
                    <div [innerHTML]="blog.detail"></div>
                </div>
            </div>
        </div>

    </div>
</section>