<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{pagedata.title}}</h2>
          <p>{{pagedata.description}}
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-12 mx-auto">

        <div class="Contact-div clearfix">


          <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
              <div class="user-form">
                <form class="form sign-up__form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">

                  <div class="row">

                    <div class="col-12 col-lg-12">

                      <ul class="ul01">
                          <li><span class="number-span">1</span> Are you or anyone you know going through being abused emotionally by a parent, teacher , coach, or any other person?</li>
                          <li><span class="number-span">2</span> Are you or anyone you know going through being abused mentally by a parent, teacher , coach, or any other person?</li>
                          <li><span class="number-span">3</span> Are you or anyone you know going through being abused physically by a parent, teacher , coach, or any other person?</li>
                          <li><span class="number-span">4</span> Are you or anyone you know going through being abused sexually by a parent, teacher, coach, or any other person?</li>
                      </ul>
                      <p class="p-note">If you answered YES to any of the questions above, please feel free to secretly
                          report what is happening, and we will make sure it doesn’t happen ever
                          again!!!! We will protect you as a child from having that adult know you made
                          the report. Please help us keep you and your friends from being abused by
                          filling out the secret report below;</p>
                      
                      
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-12 col-lg-12">


                      <div class="form__field form__field--group">
                        <label>Name</label>
                        <input class="form-control" [formControl]="contactForm.controls['name']" type="text" name="name" value="" placeholder="Enter Name">
                        <p class="text-danger" *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched || submitted)">First Name is required</p>
                      </div>
                    </div>
                    <div class="col-6 col-lg-12">
                      <div class="form__field form__field--group">
                        <label>Email</label>
                        <input class="form-control" [formControl]="contactForm.controls['email']" type="email" name="email" value="" placeholder="Enter Email">
                        <p class="text-danger" *ngIf="contactForm.controls.email.hasError('required') && (contactForm.controls.email.dirty || contactForm.controls.email.touched || submitted)">Email Address is required</p>
                        <p class="text-danger" *ngIf="contactForm.controls.email.hasError('email') && !contactForm.controls.email.hasError('required') && (contactForm.controls.email.dirty || contactForm.controls.email.touched || submitted)">E-mail Address is not valid</p>
                      </div>
                    </div>



                    <div class="col-12 col-lg-12">
                      <div class="form__field form__field--group">
                        <label>Message</label>
                        <textarea class="form-control" [formControl]="contactForm.controls['message']" type="text" name="message" value="" placeholder="Enter message"
                          style="height:100px;"></textarea>
                        <p class="text-danger" *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched || submitted)">The message is required with minimum of 15 characters</p>
                      </div>
                    </div>


                  </div>

                  <div class="row">
                    <div class="col-12 col-lg-4 mx-auto">
                      <br>
                      <button type="submit" class="btn__submit" [disabled]="formload">Send
                        <img *ngIf="formload" class="form_loader" src="assets/img/loader.gif" alt="Processing ...">
                      </button>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>


        </div>


      </div>
    </div>






  </div>



</section>