<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>{{pagedata.title}}</h2>
                  <p>{{pagedata.description}}
              </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->



      <div class="row">
          <div class="col-12 col-lg-12 mx-auto">
              
  <div class="Contact-div clearfix">
  
      
      <div class="row">
      <div class="col-12 col-lg-12 mx-auto">
        <div class="user-form">
          <form class="form sign-up__form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" >
          
            <div class="row">
            
              <div class="col-12 col-lg-12">
                <div class="form__field form__field--group">
                  <label>Enquiry For</label>
                  <select class="form-control" name="enquiry_type" [formControl]="contactForm.controls['enquiry_type']">
                      <option value="general"> General Support</option>
                       <option value="media-schools"> Contact media or schools </option>
                  </select>
                </div>
                </div>
              <div class="col-12 col-lg-12">
              <div class="form__field form__field--group">
                <label>Name</label>
                <input class="form-control" [formControl]="contactForm.controls['name']" type="text" name="name" value="" placeholder="Enter Name" >
                <p class="text-danger" *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched || submitted)">First Name is required</p>
              </div>
              </div>
              <div class="col-6 col-lg-6">
              <div class="form__field form__field--group">
                <label>Email</label>
                <input class="form-control" [formControl]="contactForm.controls['email']" type="email" name="email" value="" placeholder="Enter Email" >
                <p class="text-danger" *ngIf="contactForm.controls.email.hasError('required') && (contactForm.controls.email.dirty || contactForm.controls.email.touched || submitted)">Email Address is required</p>
                <p class="text-danger" *ngIf="contactForm.controls.email.hasError('email') && !contactForm.controls.email.hasError('required') && (contactForm.controls.email.dirty || contactForm.controls.email.touched || submitted)">E-mail Address is not valid</p>
              </div>
              </div>
              <div class="col-6 col-lg-6">
              <div class="form__field form__field--group">
                <label>Subject</label>
                <input class="form-control" [formControl]="contactForm.controls['subject']" type="text" name="subject" value="" placeholder="Enter Subject" >
                <p class="text-danger" *ngIf="contactForm.controls.subject.hasError('required') && (contactForm.controls.subject.dirty || contactForm.controls.subject.touched || submitted)">Subject field is required</p>
                <p class="text-danger" *ngIf="(contactForm.controls.subject.hasError('maxlength') || contactForm.controls.subject.hasError('minlength') ) && (contactForm.controls.subject.dirty || contactForm.controls.subject.touched || submitted)">Subject length must be between 10 and 90 characters</p>
              </div>
              </div><!-- end of col -->
              
              
              <div class="col-12 col-lg-12">
              <div class="form__field form__field--group">
                <label>Message</label>
                <textarea class="form-control" [formControl]="contactForm.controls['message']" type="text" name="message" value="" placeholder="Enter message" style="height:100px;"></textarea>
                <p class="text-danger" *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched || submitted)">The message is required with minimum of 15 characters</p>
              </div>
              </div>
              
            
            </div>
            
            <div class="row">
              <div class="col-12 col-lg-4 mx-auto">
                <br>
                <button type="submit" class="btn__submit" [disabled]="formload"  >Send <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
              </div>
            </div>
            
          </form>
        </div>

      </div>
    </div>
      
  
   </div>


          </div>
      </div>






  </div>



</section>