<!-- =========== Features-4 Start ============ -->
<section class="features-four" id="feature" [class.top-150px]="isPage">
  <div class="container">
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="feature-wrapper">
                  <ul class="feature">
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon monitor-icon"></i>
                          </span>
                          <div>
                          <h4 class="feature__title">{{pagedata.list_a.title}}</h4>
                              <p class="feature__description">{{pagedata.list_a.desc}}</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon rick-det-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">{{pagedata.list_b.title}}</h4>
                              <p class="feature__description">{{pagedata.list_b.desc}}</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon parentaler-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">{{pagedata.list_c.title}}</h4>
                              <p class="feature__description">{{pagedata.list_c.desc}}
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon education-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">{{pagedata.list_d.title}}</h4>
                              <p class="feature__description">{{pagedata.list_d.desc}}
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
                  <!-- feature content end -->
                  <div class="features-cta reveal">
                      <h2 class="features-cta__title">{{pagedata.title}}</h2>
                      <p class="features-cta__description">{{pagedata.description}}</p>
                      <div class="features-cta-buttons">
                            <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8" class="social-blk-1">
                                    <img src="assets/img/app-store.png" alt="">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.mysafetynet"  class="social-blk-2">
                                        <img src="assets/img/google-store.png" alt="">
                                    </a>

                      </div>
                  </div>
                  <!-- media content end -->
              </div>
          </div>
      </div>
      <!-- row end -->
  </div>
</section>
<!-- =========== Features-4 End ============ -->