.form_loader {
    width: 20px;
    right: 31px;
    position: absolute;
    display: inline-block;
    margin: 6px 0 0 0px;
}

.form_loader_outer {
    width: 63px;
    right: 7px;
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 0px;
    bottom: 0px;
}

.top-150px {
    top: 150px;
}

.ElementsApp,
.ElementsApp .InputElement {
    border: 1px solid #ddd !important;
    border-radius: 0;
    height: 3.625rem;
    line-height: 3.625rem;
    width: 100%;
    background: #fff;
}

.pre.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.next.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.disableonload.disabled {
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.pre {
    display: inline-block;
    width: auto !important;
    margin-right: 20px;
}

.next {
    display: inline-block;
    width: auto !important;
}

.button-radius8x8 {
    border-radius: 8px 8px 8px 8px !important;
}

.bs-datepicker-head button.next {
    width: 30px !important;
}

form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
}

form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}

form.checkout button:active {
    background: rgb(165, 76, 43);
}

.StripeElement {
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.btn_small_lable.activated {
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}

.btn_small_lable {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 1.5625rem;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); */
}

.web-page-div {
    margin: 40px 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section {
    margin: 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section h2 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

.web-page-div .web-page-section .content-p-div p {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.web-page-div .web-page-section .content-p-div ul {
    margin: 0 0 20px 30px;
    padding: 0;
    list-style: disc;
}

.web-page-div .web-page-section .content-p-div ul li {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.prcing-table p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.pricing-two .prcing-table.web-pricing {
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd;
}

.contact-web-div {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.contact-web-div h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #222;
    font-weight: 18px;
    font-weight: 700;
    text-align: center;
}

.contact-web-div p {
    margin: 0 0 10px 0;
    padding: 0;
    color: #666;
    font-weight: 13px;
    text-align: center;
}

.contact-web-div a {
    color: #4a28dd;
}

.contact-web-div a:hover {
    color: #000;
    text-decoration: underline;
}

.contact-web-social {
    text-align: center;
    margin: 0 !important;
}

.contact-web-social li {
    height: 2.75rem;
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 2.75rem;
    margin: 0 10px 0 0 !important;
    border-radius: 100px;
    text-align: center;
    background: #2d3136;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.contact-web-social li a {
    font-size: 1.2rem;
    color: #fff !important;
    line-height: 2.75rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block
}

.contact-web-social li:not(:last-child) {
    margin-right: .5rem
}

.img-100{
	height:100px !important;
	width:100px !important;
}

.contact-web-social li:hover {
    background: #4777f4
}


.faq-web-div { margin: 0; padding: 0; position: relative;}
.faq-web-div p {margin: 0 0 20px 0;  padding: 0;   color: #666;   font-size: 14px;    line-height: 24px;}

.accordion-toggle { display: block;}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-default > .panel-heading {
background-image: -webkit-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
	background-image: -o-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}
.panel-heading { border-radius: 0; border: 0;}
.panel-title { color:#fff!important;}

.in-progress {color: green;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}
.in-active {color: orange;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}
.inactive {color: red;  font-size: 12px; padding: 0 0 0 0px;   font-weight: bold; display:inline-block;}

a.disabled-link{
	 pointer-events: none;
	 cursor: default;
	 color:#666;
}

a.dev-link {
    color: #818992!important;
    padding: 0 3px;
}
span.vline {
    vertical-align: top;
    padding: 0px 0 0 0;
    margin: -1px 0 0 0;
}
.pt200{
	padding-top:200px;
}
.right-minus30{
	right: -30px !important;
}
.right-minus60{
	right: -60px !important;
}
.pricing-two .prcing-table .white-text{
	color:#FFF;
}
.pricing-two .prcing-table .white-text:hover .nc-icon.nc-tail-right.white-text:before{ color:#4777f4; }

.w-100p p{ padding:25px 0; margin-bottom:10px;}



.hero-wrapper01 .hero-content { padding-top: 11.75rem; }

.hero-wrapper01 .hero__title { font-size: 32px; text-transform: uppercase; padding: 0 10%;margin-bottom:10px; }
.hero-wrapper01 .hero__caption { margin-bottom: 1.4rem; font-size: 16px; line-height: 1.7rem; }
.hero-wrapper01 .hero__caption.last_caption { margin-bottom: 4rem; }

.ul01{ padding:0; } 
.ul01 li{ margin:0 0 10px 0; }
.ul01 span.number-span {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
	margin:0 5px 0 0;
}
.p-note{ margin:0 0 20px 0;color:#666; } 

.center-p-tag p{
	text-align:center;
}

.blockquote p {
    margin: 0;
    text-align: right;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
    text-align: right;
    padding: 10px 0 10px 0;
}
.center-p-tag h3 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    color: #222;
}

h3.italic-footer {
    font-size: 21px;
    font-style: italic;
    padding: 10px;
}

.user-form .forgot-password {
    padding-bottom: 7px;
}
.padding50{
	padding: 50px;
}
.margin-botom-50{
	margin-bottom:50px;
}

.no-border{
	border: none !important;
}

.blockquote { margin: 0 0 40px 0; padding: 10px; border-right:5px solid #742ee0; background: #f7f7f7;}
.blockquote .blockquote-footer { font-size: 14px; font-style: italic;}
.blockquote p{ font-size: 14px;}

.hightlight-box {margin: 0; padding: 30px 0;  background: #742ee0; text-align: center; color:#fff; font-size: 20px;}

.privacy-terms-div { margin: 0; padding: 0; position: relative;}
.privacy-terms-div h3{ margin: 0; padding: 0; color:#222; font-size: 18px;}
.privacy-terms-div h4{ margin: 0; padding: 0; color:#222; font-size: 16px;}
.privacy-terms-div .bullet-ul{ margin: 0 0 15px 20px; padding: 0; list-style: disc;}
.privacy-terms-div .bullet-ul li{ margin: 0; padding: 0; color:#666; font-size: 14px; line-height: 24px;}
.privacy-terms-div .in-blk { margin-left:20px;}

.ul-newcustom01 {
    list-style: disc;
    padding: 10px 0;
    margin: 0 0 0 20px;
}
.ul-newcustom01 li {
    padding: 5px 0;
    list-style: disc;
}

.intl-tel-input {
   width:100% !important;
}


.header-video{
	
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

}
.header-video-iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.how-work-video{
	
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-bottom:15px;

}
.how-work-video-iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px){
	.prcing-table .plan-features { height:auto;}
	
	.hero-wrapper01 .hero__title {
		font-size: 28px;
		text-transform: uppercase;
		padding: 0 0%;
		margin-bottom: 30px;
		line-height: 40px;
	}
	.hero__caption { padding: 0 5%; }
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.prcing-table .plan-features { height:130px;}
	.hero-wrapper01 .hero-content { padding-top: 10.75rem; }
	.hero-wrapper01 .hero__title {
		font-size: 36px;
		text-transform: uppercase;
		padding: 0 0%;
		margin-bottom: 30px;
		line-height: 50px;
	}
	.hero__caption { padding: 0 5%; }
}



/* CB */

.prcing-table.free-plan {
	background: #4928dd; /* Old browsers */
	background: -moz-linear-gradient(top, #4928dd 0%, #7a2fe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4928dd 0%,#7a2fe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4928dd 0%,#7a2fe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4928dd', endColorstr='#7a2fe0',GradientType=0 ); /* IE6-9 */
  }
  .prcing-table.free-plan .db-btn { background: #fff; border:0; box-shadow:none;}
  .prcing-table.free-plan .plan-features__list { color:#fff;}
  .prcing-table.free-plan .prcing-table__plan-name{ color:#fff;}
    .prcing-table.free-plan .prcing-header .currency{ color:#fff; font-weight: bold; display: block; text-transform: uppercase;}
  .prcing-table.free-plan .prcing-header .val-new{ color:#fff; text-transform: uppercase; display: block;}

  .prcing-table.free-plan .db-btn:hover { color:#fff!important;}
  .prcing-table.free-plan .db-btn:before{ background: #4777f4; border:0; box-shadow:none; color:#fff!important;}











