<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
              <h2>{{pagedata.title}}</h2>
              <p *ngIf="currentstep == 'first'">CHILD : {{item.first_name}} {{item.last_name}}</p>
              <p *ngIf="currentstep != 'first'">{{pagedata.description}}</p>
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
  
  
  
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto" *ngIf="currentstep == 'first'">
  
          <div class="subscripitions-listing-div clearfix">
  
            <ng-container *ngIf="current_subscription">
              <div class="subscripitions-blk-div clearfix" >
                  <div class="subscripitions-blk sub-1 clearfix">
                    <h4 >{{current_subscription.title}}</h4>
                    <p class="text-light"> {{current_subscription.description}} </p>
      
                    <div class="btn-div " >
                      <a href="javascript:void(0)"  class="btn-round text-success">Selected</a>
                    </div>
                   
      
                    <p class="free-title text-success"> ${{current_subscription.actual_amount}} / {{current_subscription.type}}</p>
                    <p class="freemonth-txt">  <a href="javascript:void(0)" (click)="upgrade(current_subscription,'unsubscribe')" class="text-success">Unsubscribe</a> </p>
                  </div>
                  <!-- end of subscripitions-blk -->
                </div>
          </ng-container>

              <ng-container *ngFor="let item of planlist; let i = index;">
                  <div class="subscripitions-blk-div clearfix" *ngIf="item.type != 'free'">
                      <div class="subscripitions-blk sub-1 clearfix">
                        <h4>{{item.title}}</h4>
                        <p class="text-light"> {{item.description}} </p>
          
                        <div class="btn-div" >
                            <a href="javascript:void(0)" (click)="upgrade(item,'upgrade')" class="btn-round">Upgrade</a>
                          </div>
          
                        <p class="free-title"> ${{item.actual_amount}}</p>
                        <p class="freemonth-txt">{{item.title}}</p>
                      </div>
                      <!-- end of subscripitions-blk -->
                    </div>
              </ng-container>

            
      
  
          </div>
          <!-- end of subscripitions-listing-div -->
  
  
        </div>

        <div class="col-12 col-lg-12 mx-auto" *ngIf="currentstep != 'first'">
            <div class="user-form">
  
              <form class="form sign-up__form" >
                <div class="myaccount-row-blk clearfix">
  
  
                  <div class="myaccount-row clearfix">
                    <div class="row">
  
                      
  
                      <div class="col-12 col-lg-6">
                        <div class="form__field form__field--group">
                          <label>Child detail</label>
                          <input class="form-control" type="text" name="text" value="{{item.first_name}} {{item.last_name}} ( {{item.child_age}} Year )" disabled>
                        </div>
                      </div>
  
  
  
                      <div class="col-12 col-lg-6">
                        <div class="form__field form__field--group">
                          <label *ngIf="currentstep == 'upgrade'">Selected plan</label>
                          <label *ngIf="currentstep == 'unsubscribe'">Current Subscription</label>
                          <div class="input-group date">
                            <input type="text" class="form-control" value=" {{selected_plan.title}} ( $ {{selected_plan.actual_amount}} /{{selected_plan.type}} ) " disabled>
  
                          </div>
                        </div>
                      </div>
  
                    </div>
                    <!-- end of row -->
                  </div>
  
  
                  <div class="row">
                      <div class="col-12 col-lg-4 mx-auto">
                        <button  type="submit" class="btn__submit pre " (click)="gotoStep('first')" [class.disabled]="formload" [disabled]="formload">Back </button>
                        <button *ngIf="currentstep == 'upgrade'" type="submit" class="btn__submit next " (click)="doupgrade()" [class.disabled]="formload" [disabled]="formload" >Upgrade <img *ngIf="formload" class="form_loader_outer right-minus30"  src="assets/img/loader.gif" alt="Processing ..."></button>
                        <button *ngIf="currentstep == 'unsubscribe'" type="submit" class="btn__submit next " (click)="unsubscribe(item.subscription_id,item.stripe_id,item.username)" [class.disabled]="formload" [disabled]="formload" >Unsubscribe <img *ngIf="formload" class="form_loader_outer right-minus60"  src="assets/img/loader.gif" alt="Processing ..."></button>
                      </div>
                  </div>
  
  
  
                </div>
                <!-- end of myaccount-row-blk -->
              </form>
            </div>
  
          </div>


          

      </div>
  
  
  
  
  
  
  
    </div>
  </section>