<section class="page-sign-in user-entrance login-regi-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Confirm Your identity</h2>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <h5 class="mb20">Verify your phone number</h5>
                <div class="user-form">
                    <div class="user-form">

                        <form class="form sign-up__form" [formGroup]="passForm" (ngSubmit)="onSubmit(passForm.value)">

                            <div class="form__field form__field--group">

                                <input class="form-control"

   ng2TelInput
  [ng2TelInputOptions]="{initialCountry: 'us'}"
  (hasError)="hasError($event)"
  (ng2TelOutput)="getNumber($event)"
  (intlTelInputObject)="telInputObject($event)"
  (countryChange)="onCountryChange($event)" 
  [textMask]="{mask: mask}" 
								[formControl]="passForm.controls['phone']" type="text" name="phone"
                                            value="" placeholder="Enter Your Phone Number" required>
                                    
                                <p class="text-danger" *ngIf="passForm.controls.phone.hasError('required') && (passForm.controls.phone.dirty || passForm.controls.phone.touched || submitted)">Phone Number is required</p>
                                <p class="text-danger" *ngIf="passForm.controls.phone.hasError('PhoneTen') && (passForm.controls.phone.dirty || passForm.controls.phone.touched || submitted)">Not a valid number</p>
                                   


                            </div>

                            <button type="submit" class="btn__submit" data-toggle="modal" data-target="#myModal" [disabled]="formload">Call Me
                                <img *ngIf="formload" class="form_loader" src="assets/img/loader.gif" alt="Processing ...">
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade modalCallme" #fileInput role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" *ngIf="call_status == 1 || call_status == 2">
                    <h3 (click)="closemodal()">Call In Progress...</h3>
                    <p>{{verificationData.enter_digit}}</p>
                    <h1>{{verificationData.otp}}</h1>
                    <p class="retry-alert" *ngIf="call_status == 2">
                        <span class="text-retry">
                            We are having difficulty contacting you or verifying the PIN you enterd. you can retry the automated phone verification process
                            or
                            <a href="#">contact</a> customer service to speak with a representative.</span>
                        <span class="btn-retry">
                            <a href="javascript:void(0)" (click)="closemodal()">Retry</a>
                        </span>
                    </p>
                </div>
                <div class="modal-body popup-success" *ngIf="call_status == 3">
                    <img src="assets/img/check-mark.png" width="150px" />
                    <h2>Your identity has been verified Successfully. </h2>
                    <div class="btn-continues">
                        <a href="javascript:void(0)" (click)="redirectifverified()">Continue</a>
                    </div>
                    <div>
                        <p class="identity-counter" *ngIf="showTimer">00: {{timeLeft
                            < 10 ? '0'+timeLeft : timeLeft}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>