<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{pagedata.title}}</h2>
                    <p>{{pagedata.description}}
                </div>
            </div>
            <!-- section title end -->
        </div>

        <section class="blog-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12 mx-auto">
                        <div class="blog-content">

                            <div *ngIf="formload">

                                <article class="article">
                                    <a class="article__thumbnail" href="javascript:void(0)">
                                        <img src="assets/img/transparant.png" class="background-self height200" alt="">
                                    </a>
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published background-self hw20x60"> &nbsp;</span>
                                        </div>
                                        <a class="article__title background-self hw30xfull" href="javascript:void(0)">
                                            &nbsp;
                                        </a>

                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <a href="javascript:void(0)" class="db-btn db-btn__blue db-btn__type-md background-self"></a>
                                    </div>
                                </article>

                                <article class="article">
                                    <a class="article__thumbnail" href="javascript:void(0)">
                                        <img src="assets/img/transparant.png" class="background-self height200" alt="">
                                    </a>
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published background-self hw20x60"> &nbsp;</span>
                                        </div>
                                        <a class="article__title background-self hw30xfull" href="javascript:void(0)">
                                            &nbsp;
                                        </a>

                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <a href="javascript:void(0)" class="db-btn db-btn__blue db-btn__type-md background-self"></a>
                                    </div>
                                </article>
                            </div>

                            <div *ngIf="!formload">


                                <ng-container *ngFor="let blog of bloglist; let i = index;">
                                    <article class="article">
                                        <a class="article__thumbnail" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                            <img src="{{blog.image}}" alt="">
                                        </a>
                                        <div class="article-content">
                                            <div class="article__meta">
                                                <span class="article__meta--published">{{blog.created}}</span>
                                            </div>
                                            <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                {{blog.title}}
                                            </a>

                                            <p>{{blog.sort_desc}}</p>
                                            <a href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)" class="db-btn db-btn__blue db-btn__type-md ">Continue reading</a>
                                        </div>
                                    </article>
                                </ng-container>



                                <!-- blog content end -->
                                <nav>
                                    <ul class="pagination">
                                        <li class="pagination-item" *ngIf="prev_page_url">
                                            <a class="db-btn" href="javascript:void(0)" (click)="getList(prev_page_url)">
                                                Older posts
                                            </a>
                                        </li>
                                        <li class="pagination-item" *ngIf="next_page_url">
                                            <a class="db-btn" href="javascript:void(0)" (click)="getList(next_page_url)">Newer posts</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>

                        </div>
                        <!-- pagination end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- =========== Blog body end ============ -->


    </div>
</section>