<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{pagedata.title}}</h2>
          <p *ngIf="notification.length > 0">{{pagedata.description}}</p>
          <p *ngIf="notification.length <= 0">{{pagedata.description_no_request}}</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">

        <div class="notification-div clearfix">

          <div class="notification-blk-div clearfix">
            <div class="user-form" *ngIf="notification.length > 0">

              <div class="pic">
                <figure *ngIf="first_requst_user.thumb_image && first_requst_user.thumb_image!=''">
                  <img src="{{first_requst_user.thumb_image}}" alt="" />
                </figure>
                <figure *ngIf="!first_requst_user.thumb_image || first_requst_user.thumb_image==''">
                  <img src="assets/img/user_img.png" alt="" />
                </figure>

              </div>

              <div class="txt">
                <h4>{{first_requst_user.first_name}} {{first_requst_user.last_name}}</h4>
                <p>{{first_requst_user.child_age}} year&nbsp;|&nbsp; {{first_requst_user.gender}}</p>
              </div>

              <div class="confirm-badge-txt">
                <h4>
                  <strong>Badge ID:</strong> {{first_requst_user.batch_id}}</h4>
              </div>








              <div class="row">
                <div class="col-12 col-lg-12 mx-auto">
                  <br>
                  <br>
                  <br>
                  <button (click)="approve(first_requst_user.batch_id,first_requst.id)" type="submit" class="btn__submit btn-inline mr50 mmr0 mmb50 disableonload"
                   [disabled]="formload_a || formload_b"
                    [class.disabled]="formload_a">Approve
                    <span *ngIf="formload_a"> ... </span>
                  </button>

                  <button type="submit" (click)="reject(first_requst_user.batch_id,first_requst.id)" class="btn__submit btn_reject btn-inline disableonload "
                    [disabled]="formload_a || formload_b" [class.disabled]="formload_b">Reject  <span *ngIf="formload_b"> ... </span></button>
                </div>
              </div>

            </div>
          </div>
          <!-- end of notification-blk-div -->


        </div>
        <!-- end of notification-div -->


      </div>
    </div>





  </div>
</section>