<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{pagedata.title}}</h2>
            <p>{{pagedata.description}}
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
  
  
  
      <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
  
          <div class="order-listing-div clearfix">
  
           
  
           
                <div class=" clearfix" *ngIf="childlist.length <=0 && !formload">
                    <div class="row justify-content-md-center">
                        <div class=" mx-auto">
                          <br>
                          <button type="submit" (click)="gotoRoute('parent/add-child')"  class="btn__submit button-radius8x8 margin-botom-50"  >Add Child </button>
                        </div>
                      </div>
                </div>

               

                <div class="add-child-div" *ngIf="childlist.length > 0  || formload"><a href="javascript:void(0)" (click)="gotoRoute('parent/add-child')" >+ Add Child</a></div>

                <div class="order-listing-box clearfix " *ngIf="formload">
                  
                    <app-list-loader></app-list-loader>
                  </div>

                <div class="order-listing-box clearfix" *ngIf="childlist.length">
  
                    <ng-container *ngFor="let item of childlist let j = index;">

                        <div class="order-listing clearfix " [class.no-border]="childlist.length-1 == j">										
                            <div class="thumb">
                                <figure *ngIf="item.thumb_image && item.thumb_image!=''">
                                    <img src="{{item.thumb_image}}" alt="" />
                                  </figure>
                                  <figure *ngIf="!item.thumb_image || item.thumb_image==''">
                                      <img src="assets/img/user_img.png" alt="" />
                                    </figure>
                            </div>										
                            <div class="txt-div pull-left">
                              <h4>{{item.first_name}} {{item.last_name}}</h4>
                              <p class="date-txt" *ngIf="item.batch_id">{{item.batch_id}}</p>
                              <p class="date-txt" *ngIf="!item.batch_id">--</p>
                              <p class="more-txt">{{item.child_age}} Year | {{item.gender}} |
                                 <span *ngIf="item.status ==1" class="in-progress" title="Active User"> Active</span>
                                 <span *ngIf="item.status ==2" class="in-active" title="In verification Process , still not activated ." >In Process</span>
                                 <span *ngIf="item.status ==0" class="inactive" title="User has been inactivated " >Inactive</span>
                              </p>
                            </div>
                              <div class="order-edit">
                              <a *ngIf="item.status !=2" href="javascript:void(0)" (click)="gotoRoute('parent/child/subscription/'+item.id)" >
                                <i class="fa fa-money" ></i> 
                                Subscription</a>

                                <a *ngIf="item.status ==2" href="javascript:void(0)" (click)="gotoRoute('parent/child-documents/'+item.id)"[class.disabled-link]="formload" >
                                    <i class="fa fa-upload" ></i> 
                                    Documents</a>

                                <ng-container  *ngIf="(item.status == 1 && item.subscription_id != 0 && item.subscription_id != '') || item.status == 2 || item.status != 100" >
                                  &nbsp;&nbsp;|&nbsp;&nbsp;
                                </ng-container>
                              <a href="javascript:void(0)" (click)="gotoRoute('parent/child/'+item.id)" ><i class="fa fa-pencil"></i> Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                              <a href="javascript:void(0)" (click)="openDetail(item)" data-toggle="modal" data-target="#view-child"><i class="fa fa-eye"></i> View</a>
                              </div>
                          </div>

                  </ng-container>
                  
                  <!-- end of order-listing-div -->
  
  
                </div>
               
  
          </div>
          <!-- end of order-listing-div -->
  
  
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" style=" margin-top:150px;" id="view-child" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
  
              <div class="pop-child-detail-div clearfix">
                <div class="pic" *ngIf="userdetail.user_image && userdetail.user_image!=''">

                    <figure >
                        <img src="{{userdetail.user_image}}" alt="" />
                      </figure>
                     

                 
                </div>
                <div class="txt-div">
                  <h4>{{userdetail.first_name}} {{userdetail.last_name}} ({{userdetail.username}})</h4>
                  <p class="badge-txt">Badge ID: {{userdetail.batch_id}}</p>
  
                  <div class="pop-child-detail clearfix">
                    <div class="container-fluid">
                      <div class="row">
  
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">Age: </p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.child_age}} year</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">Gender:</p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.gender}}</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">Birth Date: </p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.dob_formated}}</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">Phone Number:</p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.phone}}</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">School Name:</p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.school_name}}</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">School District Number:</p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.school_district_no}}</p>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">State:</p>
                        </div>
                        <div class="col-12 col-lg-8">
                          <p class="dark-txt">{{userdetail.state}}</p>
                        </div>
                        
                      <ng-container *ngIf="userdetail.current_subscription && userdetail.current_subscription !=''">
                        <div class="col-12 col-lg-4">
                          <p class="light-txt">Current Subscription :</p>
                        </div>
                        <div class="col-12 col-lg-8" *ngIf="userdetail.current_subscription">
                          <p class="dark-txt">{{userdetail.current_subscription.title}} ({{userdetail.start_date_formated}} - {{userdetail.expiry_date_formated}})</p>
                        </div>
                        
                      </ng-container>

  
  
  
                      </div>
                      <!-- end of row -->
                    </div>
                    <!-- end of container-fluid -->
  
                  </div>
                  <!-- end of pop-child-detail -->
  
                </div>
  
              </div>
              <!-- end of pop-child-detail-div -->
  
            </div>
  
          </div>
        </div>
      </div>
  
  
  
  
  
  
    </div>
  </section>