<div class="row">
  <div class="col-12 col-lg-12 mx-auto">
    <div class="user-form">

      <div class="myaccount-row-blk clearfix">

        <h3 class="background-self bs-page-sub-header-left"></h3>
        <div class="myaccount-row method-root clearfix">
          <div class="row">

            <div class="col-12 col-lg-12">
              <div class="payment-method-tbl">
                <div class="table-responsive clearfix">
                  <table class="table" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <th class="width-30p background-self hw20x60"></th>
                        <th class="width-20p background-self hw20x60"></th>
                        <th class="width-20p background-self hw20x60"></th>
                        <th class="width-30p background-self hw20x60">&nbsp;</th>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <p class="background-self hw10xfull margin-top-botom-15"> &nbsp; </p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <p class="background-self hw10xfull margin-top-botom-15"> &nbsp; </p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <p class="background-self hw10xfull margin-top-botom-15"> &nbsp; </p>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>


    </div>

  </div>
</div>