<!-- =========== Reviews ============ -->
<section class="page-sign-up user-entrance login-regi-div">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Parent registration</h2>
                  <p>Already have an account?   
                      <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" >Login for parent</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="javascript:void(0)" (click)="gotoRoute('child-signin')" >Login for Child</a>
                  </p>
              </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
          <div class="col-12 col-lg-8 mx-auto">
              <div class="user-form">
                <form class="form sign-up__form" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)" >
			
                    <div class="form__field form__field--group">
                        <label>First Name </label>
                        <input class="form-control" [formControl]="signupForm.controls['first_name']" type="text" name="first_name" value="" placeholder="Enter your first  name">
                        <p class="text-danger" *ngIf="signupForm.controls.first_name.invalid && (signupForm.controls.first_name.dirty || signupForm.controls.first_name.touched || submitted)">First Name is required</p>
                    </div>
                    <div class="form__field form__field--group">
                        <label>Last Name</label>
                        <input class="form-control" [formControl]="signupForm.controls['last_name']" type="text" name="last_name" value="" placeholder="Enter your last name">
                        <p class="text-danger" *ngIf="signupForm.controls.last_name.invalid && (signupForm.controls.last_name.dirty || signupForm.controls.last_name.touched || submitted)">Last Name is required</p>
                    </div>
                    <div class="form__field form__field--group">
                            <label>Mobile Number</label>
                           
                                    
                                   
                                        <input class="form-control" 
										ng2TelInput
  [ng2TelInputOptions]="{initialCountry: 'us'}"
  (hasError)="hasError($event)"
  (ng2TelOutput)="getNumber($event)"
  (intlTelInputObject)="telInputObject($event)"
  (countryChange)="onCountryChange($event)" 
  [textMask]="{mask: mask}" 
  [formControl]="signupForm.controls['parent_mob_no']" 
  type="text" name="parent_mob_no" value="" placeholder="Enter mobile number" >
                                   
                                
                                <p class="text-danger" *ngIf="signupForm.controls.parent_mob_no.hasError('required') && (signupForm.controls.parent_mob_no.dirty || signupForm.controls.parent_mob_no.touched || submitted)">Mobile Number is required</p>
                                            <p class="text-danger" *ngIf="signupForm.controls.parent_mob_no.hasError('minlength') && (signupForm.controls.parent_mob_no.dirty || signupForm.controls.parent_mob_no.touched || submitted)">Mobile Number  must be between 10 and 12</p>
                                            <p class="text-danger" *ngIf="signupForm.controls.parent_mob_no.hasError('maxlength') && (signupForm.controls.parent_mob_no.dirty || signupForm.controls.parent_mob_no.touched || submitted)">Mobile Number  must be between 10 and 12</p>
                                            <p class="text-danger" *ngIf="signupForm.controls.parent_mob_no.hasError('PhoneTen') && (signupForm.controls.parent_mob_no.dirty || signupForm.controls.parent_mob_no.touched || submitted)">Not a valid number</p>
                               

                       
                     
                       
                    </div>
                    <div class="form__field form__field--group">
                        <label>Email Address</label>
                        <input class="form-control" [formControl]="signupForm.controls['email']" type="email" name="email" placeholder="Enter email address" >
                        <p class="text-danger" *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched || submitted)">Email Address is required</p>
                    </div>

                    <div class="form__field form__field--group">
                        <label>Password</label>
                        <input class="form-control" [formControl]="signupForm.controls['password']" type="password" name="password" value="" placeholder="Enter password" >
                        <p class="text-danger" *ngIf="signupForm.controls.password.hasError('required') && (signupForm.controls.password.dirty || signupForm.controls.password.touched || submitted)">Password is required</p>
                        <p class="text-danger" *ngIf="signupForm.controls.password.hasError('minlength') && (signupForm.controls.password.dirty || signupForm.controls.password.touched || submitted)">Password must be 8 characters long</p>
                    </div>
                    <div class="form__field form__field--group">
                        <label>Confirm Password</label>
                        <input class="form-control" [formControl]="signupForm.controls['confirm_password']"  type="password" name="confirm_password" value="" placeholder="Confirm password" >
                        <p class="text-danger" *ngIf="signupForm.controls.confirm_password.invalid && (signupForm.controls.confirm_password.dirty || signupForm.controls.confirm_password.touched || submitted)">Confirm Password not match</p>
                    </div>
                    <button type="submit" class="btn__submit" [disabled]="formload" >Sign up <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
                </form>
              </div>

          </div>
      </div>
  </div>
<!-- testimonial row end -->
</section>