<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{pagedata.title}}</h2>
          <p>{{pagedata.description}}</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">

        <div class="order-listing-div clearfix">

           <h3 class="background-self hw25x100 margin-bottom-10" *ngIf="formload">&nbsp;</h3>
          <div class="order-listing-box clearfix " *ngIf="formload">
            <app-list-loader></app-list-loader>
          </div>

          <ng-container *ngFor="let item of orderlist;">
            <div class="order-listing-row clearfix  ">

              <h3>{{item.month}}</h3>
              <div class="order-listing-box clearfix">

                <ng-container *ngFor="let user of item.data; let j = index;">
                  <div class="order-listing clearfix " [class.no-border]="item.data.length-1 == j">
                    <div class="thumb">
                      <figure *ngIf="user.thumb_image && user.thumb_image!=''">
                        <img src="{{user.thumb_image}}" alt="" />
                      </figure>
                      <figure *ngIf="!user.thumb_image || user.thumb_image==''">
                        <img src="assets/img/user_img.png" alt="" />
                      </figure>
                    </div>
                    <div class="txt-div pull-left">
                      <h4>{{user.first_name}} {{user.last_name}}</h4>
                      <p class="date-txt">{{user.start_date_formated}} - {{user.expiry_date_formated}}</p>
                      <p class="more-txt">{{user.order_no}} |
                        <span class="in-progress">{{user.trans_status || 'Free'}}</span>
                      </p>
                    </div>
                    <div class="order-edit">
                      <a href="javascript:void(0)" (click)="openDetail(user)" data-toggle="modal" data-target="#view-child">
                        <i class="fa fa-eye"></i> View</a>
                    </div>
                  </div>


                </ng-container>

                <!-- end of order-listing-div -->


              </div>
              <!-- end of order-listing-box -->

            </div>
          </ng-container>

        </div>
        <!-- end of order-listing-div -->


      </div>
    </div>

    <!-- Modal -->
    <div *ngIf="orderdetail" class="modal fade" style=" margin-top:150px;" id="view-child" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="pop-child-detail-div clearfix">
              <div class="pic" *ngIf="orderdetail.user_image && orderdetail.user_image!=''">
                <figure>
                  <img src="{{orderdetail.user_image}}" alt="" />
                </figure>
              </div>
              <div class="txt-div">
                <h4>{{orderdetail.first_name}} {{orderdetail.last_name}}</h4>
                <p class="badge-txt">Badge ID:
                  <span *ngIf="orderdetail.user_status !=1"> N/A </span>
                  <span *ngIf="orderdetail.user_status ==1"> {{orderdetail.batch_id}} </span>
                </p>

                <div class="pop-child-detail clearfix">
                  <div class="container-fluid">
                    <div class="row">


                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Order No:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{orderdetail.order_no}}</p>
                      </div>

                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Amount:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt" *ngIf="orderdetailplan.plan">${{ orderdetailplan.plan.amount/100 }}</p>
                        <p class="dark-txt" *ngIf="orderdetail.subscription_id == '0' || orderdetail.subscription_id == ''">FREE</p>
                      </div>

                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Subscription Id:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{orderdetail.subscription_id}}</p>
                      </div>

                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Subscription Plan:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt" *ngIf="orderdetailplan.plan">{{orderdetailplan.plan.name}} ( {{orderdetailplan.plan.product}} ) </p>
                        <p class="dark-txt" *ngIf="orderdetail.subscription_id == '0' || orderdetail.subscription_id == ''">FREE</p>
                      </div>
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Order Date:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{orderdetail.order_created}}</p>
                      </div>





                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of container-fluid -->

                </div>
                <!-- end of pop-child-detail -->

              </div>

            </div>
            <!-- end of pop-child-detail-div -->

          </div>

        </div>
      </div>
    </div>






  </div>
</section>