<div class="main-wrapper home-13 layout-strong" id="globle_container">

    <header class="navigation navigation__transparent navigation__caps navigation__separate navigation__right navigation__btn-fill "
        [class.inner-navigation]="!isHomePage">
        <div class="container-full">
            <div class="row">
                <div class="col-12">

                    <!-- Non login user only  -->

                    <div class="navigation-content" *ngIf="module =='default'">
                        <a href="javascript:void(0)" (click)="gotoRoute('/',false)" class="navigation__brand">
                            <img class="navigation-main__logo" src="assets/img/logo.png" alt="">
                            <img class="sticky-nav__logo" src="assets/img/logo.png" alt="sticky logo">
                        </a>
                        <button class="navigation__toggler"></button>
                        <!-- offcanvas toggle button -->
                        <nav class="navigation-wrapper">
                            <button class="offcanvas__close">✕</button>
                            <!-- offcanvas close button -->
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('features',false)" href="javascript:void(0)">Features</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('pricing',false)" href="javascript:void(0)">Pricing</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link" (click)="gotoRoute('blogs',false)" href="javascript:void(0)">Blog</a>
                                    
                                   
                                </li>
                                <li class="navigation-menu__item">
                                        <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('about',false)">About</a>
                                </li>
                                <li class="navigation-menu__item">
                                        <a href="javascript:void(0)" class="navigation-menu__link" (click)="gotoRoute('contact',false)">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- nav item end -->
                        <div class="navigation-button navigation-button-couple">
                            <a href="javascript:void(0)" (click)="gotoRoute('parent-signin',false)" class="nav-cta-btn more-space navigation-button-couple__trans">Login</a>
                            <a href="javascript:void(0)" (click)="gotoRoute('parent-signup',false)" class="db-btn nav-cta-btn navigation-button-couple__fill">Sign up</a>
                        </div>

                    </div>

                    <!-- IF Child login only -->

                    <div class="navigation-content" *ngIf="module =='child'">
                        <a href="javascript:void(0)" (click)="gotoRoute('child/',false)" class="navigation__brand">
                            <img class="navigation-main__logo" src="assets/img/logo.png" alt="">
                            <img class="sticky-nav__logo" src="assets/img/logo.png" alt="sticky logo">
                        </a>
                        <button class="navigation__toggler"></button>
                        <!-- offcanvas toggle button -->
                        <nav class="navigation-wrapper">
                            <button class="offcanvas__close">✕</button>
                            <!-- offcanvas close button -->
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child',false)">{{authusername}}</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link " href="javascript:void(0)" (click)="gotoRoute('child/request',false)">request
                                        <span *ngIf="notification.length > 0">({{notification.length}}) </span>
                                    </a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link " href="javascript:void(0)" (click)="gotoRoute('child/badge',false)">Badge</a>
                                </li>
                                <li class="navigation-menu__item desktop-hidden dividar"></li>
                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child',true)">My Account</a>
                                </li>
                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child/change-password',false)">Change Password</a>
                                </li>
                                <li class="navigation-menu__item desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="doLogout('CU')">Logout</a>
                                </li>

                            </ul>
                        </nav>
                        <!-- nav item end -->
                        <div class="navigation-button navigation-button-couple m-hidden">
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item">
                                    <a class="db-btn nav-cta-btn navigation-button-couple__fill" href="javascript:void(0)">{{authusername}}</a>
                                    <ul class="navigation-dropdown">
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child',true)">My Account</a>
                                        </li>
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child/change-password',true)">Change Password</a>
                                        </li>
                                        <li class="navigation-menu__item">
                                                <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('child/notification',false)"> Notification
                                                    <span *ngIf="child_notification.length > 0">({{child_notification.length}}) </span>
                                                </a>
                                        </li>
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="doLogout('CU')">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>




                    </div>

                    <!-- IF Parent login only -->
                    <div class="navigation-content" *ngIf="module =='parent'">
                        <a href="javascript:void(0)" (click)="gotoRoute('parent/',false)" class="navigation__brand">
                            <img class="navigation-main__logo" src="assets/img/logo.png" alt="">
                            <img class="sticky-nav__logo" src="assets/img/logo.png" alt="sticky logo">
                        </a>
                        <button class="navigation__toggler"></button>
                        <!-- offcanvas toggle button -->
                        <nav class="navigation-wrapper">
                            <button class="offcanvas__close">✕</button>
                            <!-- offcanvas close button -->
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/profile',true)">{{authusername}}</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link " href="javascript:void(0)" (click)="gotoRoute('parent/add-child',true)">Add child</a>
                                </li>
                                <li class="navigation-menu__item">
                                    <a class="navigation-menu__link " href="javascript:void(0)" (click)="gotoRoute('parent/orders',true)">Orders</a>
                                </li>
                                <li class="navigation-menu__item desktop-hidden dividar"></li>
                                
                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/profile',true)">My Account</a>
                                </li>
                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/manage-stripe-account',true)">Manage Stripe Account</a>
                                </li>

                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/child',true)">Child</a>
                                </li>

                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/change-password',true)">Change Password</a>
                                </li>
                                <li class="navigation-menu__item  desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/notification',true)"> Notification
                                        <span *ngIf="notification.length > 0">({{notification.length}}) </span>
                                    </a>
                                </li>


                                <li class="navigation-menu__item desktop-hidden">
                                    <a class="navigation-menu__link" href="javascript:void(0)" (click)="doLogout('PU')">Logout</a>
                                </li>

                            </ul>
                        </nav>

                        <!-- nav item end -->
                        <div class="navigation-button navigation-button-couple m-hidden">
                            <ul class="navigation-menu" id="nav">
                                <li class="navigation-menu__item">
                                    <a class="db-btn nav-cta-btn navigation-button-couple__fill" href="javascript:void(0)"> {{authusername}} </a>
                                    <ul class="navigation-dropdown">
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/profile',true)">My Account</a>
                                        </li>
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/manage-stripe-account',true)">Stripe Settings</a>
                                        </li>
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/child',true)">Child</a>
                                        </li>

                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/change-password',true)">Change Password</a>
                                        </li>
                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="gotoRoute('parent/notification',true)">Notification
                                                <span *ngIf="notification.length > 0">({{notification.length}}) </span>
                                            </a>
                                        </li>


                                        <li class="navigation-menu__item">
                                            <a class="navigation-menu__link" href="javascript:void(0)" (click)="doLogout('PU')">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="footer-three">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer">
                        <div class="footer-nav-wrapper">
                            <nav class="footer-widget">
                                <h5>Download App</h5>
                                <ul>
                                    <li>
                                        <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8">
                                            <img src="assets/img/app-store.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://play.google.com/store/apps/details?id=com.mysafetynet">
                                            <img src="assets/img/google-store.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="footer-widget">
                                <h5>Our App</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('features',false)"> Features</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('pricing',false)">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('blogs',false)">Blog</a>
                                    </li>
                                </ul>
                            </nav>


                            <!-- widget end -->
                            <nav class="footer-widget">
                                <h5>Support</h5>
                                <ul>
                                    <li *ngIf="module =='defaultA'">
                                        <a href="javascript:void(0)" (click)="gotoRoute('parent-signin',false)">Parent Login</a>
                                    </li>
                                    <li *ngIf="module =='defaultA'">
                                        <a href="javascript:void(0)" (click)="gotoRoute('child-signin',false)">Child Login</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('support',false)">Support</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('contact',false)">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('anonymous-complaint',false)">Anonymous Complaint</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- widget end -->
                            <nav class="footer-widget">
                                <h5>Company</h5>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('about',false)">About</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('privacy',false)">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="gotoRoute('terms-conditions',false)">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- widget end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom-wrapper">
                            <div class="footer-copyright">
                                <span class="footer-copyright__text">&copy; 2018 Copyright, All Rights Reserved By MySafetyNet <span class="vline">|</span> <span class="compnay-span">Developed By: </span><a href="https://citrusbug.com/" target="_blank" class="dev-link">Citrusbug Technolabs</a> </span>
                            </div>
                            <nav class="footer-bottom-nav">
                                <ul class="footer-social">
                                    <li>
                                        <a href="https://www.facebook.com/mysafetynet.Info/" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/mysafetynetinfo" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                </ul>
                            </nav>

                            <!-- copyright content end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>