<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">

        <!-- =========== Blog body start ============ -->
        <section class="blog-main blog-details">

            <div class="container">
                <div class="row">
                    <aside class="col-12 col-lg-4 mr-auto">
                        <div class="blog-widgets">
                            <div class="blog-widget widget-popular-posts">
                                <h6 class="blog-widget__title">Recent Posts</h6>

                                <ul *ngIf="formload_a">


                                    <li>
                                        <div class="post-image">
                                            <a href="javascript:void(0)">
                                                <img src="assets/img/transparant.png" class="background-self" alt="blog-popular-img">
                                            </a>
                                        </div>
                                        <div class="post-holder">
                                            <a href="javascript:void(0)" class="background-self hw20x200">&nbsp;</a>
                                            <span class="blog-widget__meta background-self hw20x60">&nbsp;</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <a href="javascript:void(0)">
                                                <img src="assets/img/transparant.png" class="background-self" alt="blog-popular-img">
                                            </a>
                                        </div>
                                        <div class="post-holder">
                                            <a href="javascript:void(0)" class="background-self hw20x200">&nbsp;</a>
                                            <span class="blog-widget__meta background-self hw20x60">&nbsp;</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <a href="javascript:void(0)">
                                                <img src="assets/img/transparant.png" class="background-self" alt="blog-popular-img">
                                            </a>
                                        </div>
                                        <div class="post-holder">
                                            <a href="javascript:void(0)" class="background-self hw20x200">&nbsp;</a>
                                            <span class="blog-widget__meta background-self hw20x60">&nbsp;</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <a href="javascript:void(0)">
                                                <img src="assets/img/transparant.png" class="background-self" alt="blog-popular-img">
                                            </a>
                                        </div>
                                        <div class="post-holder">
                                            <a href="javascript:void(0)" class="background-self hw20x200">&nbsp;</a>
                                            <span class="blog-widget__meta background-self hw20x60">&nbsp;</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <a href="javascript:void(0)">
                                                <img src="assets/img/transparant.png" class="background-self" alt="blog-popular-img">
                                            </a>
                                        </div>
                                        <div class="post-holder">
                                            <a href="javascript:void(0)" class="background-self hw20x200">&nbsp;</a>
                                            <span class="blog-widget__meta background-self hw20x60">&nbsp;</span>
                                        </div>
                                    </li>

                                </ul>

                                <ul *ngIf="!formload_a">

                                    <ng-container *ngFor="let blog of bloglist; let i = index;">
                                        <li *ngIf="i < 5">
                                            <div class="post-image">
                                                <a href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                    <img src="{{blog.thumb_image}}" alt="blog-popular-img">
                                                </a>
                                            </div>
                                            <div class="post-holder">
                                                <a href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">{{blog.sort_desc}}</a>
                                                <span class="blog-widget__meta">
                                                    {{blog.created}}</span>
                                            </div>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>


                        </div>
                    </aside>
                    <!-- sidebar end -->

                    <div class="col-lg-7 col-12">

                        <div class="blog-content">

                            <div *ngIf="formload_b">

                                <article class="article">
                                    <a class="article__thumbnail" href="javascript:void(0)">
                                        <img src="assets/img/transparant.png" class="background-self height200" alt="">
                                    </a>
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published background-self hw20x60"> &nbsp;</span>
                                        </div>
                                        <a class="article__title background-self hw30xfull" href="javascript:void(0)">
                                            &nbsp;
                                        </a>

                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <p class="background-self hw10xfull"> &nbsp;</p>
                                        <p class="background-self hw10xfull"> &nbsp;</p>

                                    </div>
                                </article>


                            </div>
                            <div *ngIf="!formload_b">

                                <article class="article">
                                    <a class="article__thumbnail" href="javascript:void(0)">
                                        <img src="{{blog.image}}" alt="">
                                    </a>
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">{{blog.created}}</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)">
                                            {{blog.title}}
                                        </a>
                                        <div [innerHTML]="blog.detail"></div>

                                    </div>
                                </article>
                            </div>
                            <!-- single item end -->
                        </div>

                        <nav *ngIf="!formload_b">
                            <ul class="pagination">
                                <li class="pagination-item" *ngIf="blog.previous_slug && blog.previous_slug !=''">
                                    <a class="db-btn" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.previous_slug)">
                                        Older posts
                                    </a>
                                </li>
                                <li class="pagination-item" *ngIf="blog.next_slug && blog.next_slug !=''">
                                    <a class="db-btn" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.next_slug)">Newer posts</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- pagination end -->



                        <!-- blog content end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- =========== Blog body end ============ -->

    </div>
</section>