<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
              <h2>{{pagedata.title}}</h2>
              <p>{{pagedata.description}}</p>
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
  
  
  
      <div class="row">
        <div class="col-12 col-lg-12 mx-auto">
  
  
          <div class="badge-div clearfix">
            <div class="txt-pic-div clearfix">
              <div class="pic">
                  <figure *ngIf="profile.thumb_image && profile.thumb_image!=''">
                      <img src="{{profile.thumb_image}}" alt="" />
                    </figure>
                    <figure *ngIf="!profile.thumb_image || profile.thumb_image==''">
                        <img src="assets/img/user_img.png" alt="" />
                      </figure>
                 
               
              </div>
              <div class="detail-txt-div">
                <h4>{{profile.first_name}} {{profile.last_name}}</h4>
                <p class="badge-txt">{{profile.child_age}} Year | {{profile.gender}}</p>
  
                <div class="badge-badge-txt">
                  <h5>
                    <strong>Badge ID:</strong> {{profile.batch_id}}</h5>
                </div>
  
              </div>
            </div>
  
  
  
  
            <div class="user-form">
              <div class="txt-div">
  
                <div class="pop-child-detail clearfix">
                  <div class="container-fluid">
                    <div class="row">
  
  
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Birthdate:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{profile.dob}}</p>
                      </div>
  
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">Phone Number:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{profile.phone}}</p>
                      </div>
  
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">School Name:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{profile.school_name}}</p>
                      </div>
  
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">School District Number:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{profile.school_district_no}}</p>
                      </div>
  
                      <div class="col-12 col-lg-3">
                        <p class="light-txt">State:</p>
                      </div>
                      <div class="col-12 col-lg-9">
                        <p class="dark-txt">{{profile.state}}</p>
                      </div>
  
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of container-fluid -->
  
                </div>
                <!-- end of pop-child-detail -->
  
              </div>
  
  
              <div class="row" *ngIf="false">
                <div class="col-6 col-lg-4 mx-auto">
                  <br>
                  <button type="submit" class="btn__submit" (click)="gotoRoute('child/edit-profile')"  >Edit Profile</button>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
  
            </div>
          </div>
          <!-- end of pop-payment-div -->
  
  
  
  
        </div>
      </div>
  
  
  
  
  
    </div>
  </section>