<!-- =========== blog-1 start ============ -->
<div class="home-blog home-blog-one blog-main" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                        <h2>{{pagedata.title}}</h2>
                        <p>{{pagedata.description}}
                    </p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="blog-featured">
                    <article class="article">
                        <a class="article__thumbnail" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                            <img src="{{blog.image}}" height="540" alt="JI">
                        </a>
                        <div class="article-content">
                            <div class="article__meta">


                                <span class="article__meta--published">{{blog.created}}</span>
                            </div>
                            <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                {{blog.title}}
                            </a>

                            <p>{{blog.sort_desc}}</p>
                            <a href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)" class="db-btn-link">Continue reading
                                <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- blog featured end -->
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <ng-container *ngFor="let blog of bloglist; let i = index;" >
                        <div class="blog-list" *ngIf="i<5">
                                <article class="article">
                                    <div class="article-content">
                                        <div class="article__meta">
                                            <span class="article__meta--published">{{blog.created}}</span>
                                        </div>
                                        <a class="article__title" href="javascript:void(0)" (click)="gotoRoute('blog/'+blog.slug)">
                                                {{blog.title}}
                                        </a>
                                    </div>
                                </article>
                            </div>
                </ng-container>
                
                <a href="javascript:void(0)" (click)="gotoRoute('blogs')" class="db-btn-link">More Blogs
                    <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- =========== blog-1 End ============ -->