<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 *ngIf="!formload">{{blog.title}}</h2>
                    <h2 *ngIf="formload" class="background-self bs-page-header-center">&nbsp;</h2>
                    <p></p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
                <div class="content-p-div clearfix " *ngIf="formload">
                        <div class="about-div">
                                <blockquote class="blockquote background-self border-right0">
                                    <p> &nbsp; </p>
                                    <footer class="blockquote-footer"></footer>
                                </blockquote>
                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>
                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>

                                <br/>

                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>
                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>

                                <br/>

                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>
                                <p class="background-self hw10xfull"></p>
                                <p class="background-self hw10xhalf"></p>

                                
                                <div class="hightlight-box background-self"></div>
                            </div>
                </div>
                <div class="content-p-div clearfix" *ngIf="!formload">
                    <div [innerHTML]="blog.detail" class="col-md-12 "></div>
                </div>
            </div>
        </div>

    </div>
</section>

