<section class="page-sign-in user-entrance login-regi-div">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Parent's Login</h2>
                  <p>Don't have an account?
                      <a href="javascript:void(0)" (click)="gotoRoute('parent-signup')"  >Create an account as parent</a>
                  </p>
              </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
          <div class="col-12 col-lg-8 mx-auto">
              <div class="user-form">
                  <form class="form sign-up__form" [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)">
                      <div class="form__field form__field--group">
                          <label>Parent's email</label>
                          <input class="form-control" [formControl]="signinForm.controls['email']" type="email" name="email" value="" placeholder="Enter email address" >
                          <p class="text-danger" *ngIf="signinForm.controls.email.invalid && (signinForm.controls.email.dirty || signinForm.controls.email.touched || submitted)">Email Address is required</p>
                      </div>
                      <div class="form__field form__field--group">
                          <label>Password</label>
                          <input class="form-control"[formControl]="signinForm.controls['password']" type="password" name="password" value="" placeholder="Enter Password " required>
                          <a class="forgot-password" href="javascript:void(0)" (click)="gotoRoute('forgot-password')"  >Forgot password?</a>
                          <p class="text-danger" *ngIf="signinForm.controls.password.invalid && (signinForm.controls.password.dirty || signinForm.controls.password.touched || submitted)">Password is required</p>
                      </div>
                      <button type="submit" class="btn__submit" [disabled]="formload" >Login <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
                  </form>
              </div>

          </div>
      </div>


<div class="row">
          <div class="col-12 col-lg-8 mx-auto">
  <div class="another-login-box clearfix">
              <div class="user-form">
                  <form class="form sign-up__form" action="#">
                      <p>Already have an account for child?</p>
                      <button type="submit" (click)="gotoRoute('child-signin')"  class="btn_other_submit">Child Login</button>
                  </form>
              </div>
  </div>

          </div>
      </div>

  </div>
</section>