
<div class="switchable-div">
<div class="highlight-bg-color"></div>
  <!-- =========== switchable content End ============ -->
  <section class="switchable switchable-2">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">
                              {{completeProtection.title_a}}
                          </h2>
                          <p class="highlight_description">
                              {{completeProtection.description_a1}}
                          </p>
                          <p class="switchable__description">
                              {{completeProtection.description_a2}}
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary">
                                    Start Your {{config.free_trial_duration}} Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                             
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="assets/img/phone-1.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  
  <!-- =========== switchable content start ============ -->
  <section class="switchable switchable-2 reverse">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">{{completeProtection.title_b}}</h2>
                          <p class="switchable__description">
                                {{completeProtection.description_b1}}
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary">
                                    Start Your {{config.free_trial_duration}} Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="assets/img/phone-2.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  </div>