<section class="hero-thirteen hero-text-light content-left" >
   <div class="overlay"></div>
  <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="hero">
                      <div class="hero-wrapper hero-wrapper01">
                          <div class="hero-content">
                              <h1 class="hero__title">{{homepage.header_title_h1}}</h1>
                              <p class="hero__caption"> {{homepage.header_title_h2}} </p>
                            <div class="video-main-div clearfix header-video"> 
                                <iframe src="https://www.youtube.com/embed/RtXvkBvNB2Y" frameborder="0" class="header-video-iframe">
                                </iframe>
                            </div>

                           
                              <a  href="javascript:void(0)" (click)="gotoRoute('parent-signin')" class="db-btn db-btn__type-lg db-btn__primary"  >
                                  Start Your {{config.free_trial_duration}} Free Trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                             
                          </div>
                         

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <span class="hero__wave">
          <img class="svg hero__wave--svg" src="assets/layout/hero-wave-13.svg" alt="hero-wave">
      </span>
  </section>