<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>support</h2>
                    <p></p>
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
                <div class="video-main-div clearfix"> 
                    <iframe src="https://player.vimeo.com/video/222147586?title=0&portrait=0&byline=0&autoplay=1" class="video-iframe">
                    </iframe>
                </div>
            </div>
        </div>    
        
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">

                <div class="faq-div1 clearfix">
                    <h3 class="title-h3">Frequently asked questions  (FAQ)</h3>
                    <div class="collapse-div clearfix">
                        
                        <div class="wrapper-block center-block">
                            
                           
                            <div id="accordion">

                               

                                        <div class="card card-cuatom01 clearfix" *ngFor="let item of faqlist; let i = index;">
                                                <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#collapse{{i}}">
                                                            {{item.question}}
                                                    </a>
                                                </div>
                                                <div id="collapse{{i}}" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                            {{item.answer}}
                                                    </div>
                                                </div>
                                            </div>

                             
                              
                                    
                            </div>

                        </div>
                    </div>
                </div>    

                <div class="col-12 col-lg-12 text-center mx-auto">
                    <a href="javascript:void(0)" (click)="gotoRoute('contact')" class="contact-linkbtn"><button type="submit" class="btn__submit">contact us</button></a>
                </div>

            </div>
        </div>  
    </div>
</section>