
<!-- =========== How it work End ============ -->
<section class="working-process" id="working-process">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>{{howitswork.title}}</h2>
                  <p>{{howitswork.description}}</p>
              </div>

              <div class="video-main-div clearfix how-work-video"> 
                <iframe src="https://www.youtube.com/embed/884p7sENcw8" class="how-work-video-iframe">
                </iframe>
            </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="working-process-wrapper reveal">
                  <ul class="working-process-list">
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/signup-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">{{howitswork.list_a.title}}</h5>
                              <p class="working-process__description">{{howitswork.list_a.desc}}
                              </p>
                          </div>

                        
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                               <img src="assets/img/download-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">{{howitswork.list_b.title}}</h5>
                              <p class="working-process__description">{{howitswork.list_b.desc}}
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/add-devices.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">{{howitswork.list_c.title}}</h5>
                              <p class="working-process__description">{{howitswork.list_c.desc}}
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                    <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="assets/img/protect-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">{{howitswork.list_d.title}}</h5>
                              <p class="working-process__description">{{howitswork.list_d.desc}}
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
              </div>
          </div>
      </div>
      <!-- content row end -->
  </div>
</section>
<!-- =========== How it work End ============ -->
