<section class="page-sign-in user-entrance gen-form-div">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
            <h2>{{pagedata.title}}</h2>
            <p *ngIf="notification.length > 0">{{pagedata.description}}</p>
            <p *ngIf="notification.length <= 0">{{pagedata.description_no_request}}</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->



    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">

        <div class="notification-div clearfix">

          <div class="notification-blk-div clearfix">
            <div class="user-form" *ngIf="notification.length > 0">

                <ng-container *ngFor="let item of notification;">
              <div class="row-01 clearfix">
                <div class="col-4 col-lg-4 mx-auto float-left">
                  <div class="pic">
                      <figure *ngIf="item.sender.thumb_image && item.sender.thumb_image!=''">
                          <img src="{{item.sender.thumb_image}}" alt="" />
                        </figure>
                        <figure *ngIf="!item.sender.thumb_image || item.sender.thumb_image==''">
                          <img src="assets/img/user_img.png" alt="" />
                        </figure>
                  </div>
                  <div class="txt">
                    <h4>{{item.sender.first_name}} {{item.sender.last_name}}</h4>
                    <p>{{item.sender.child_age}} year&nbsp;|&nbsp; {{item.sender.gender}}</p>
                  </div>
                </div>
                <div class="col-4 col-lg-4 mx-auto float-left">
                  <div class="notificaton-icon">
                    <figure>
                      <img src="assets/img/notification-icon.png" alt="" />
                    </figure>
                  </div>
                </div>
                <div class="col-4 col-lg-4 mx-auto float-left">
                  <div class="pic">
                      <figure *ngIf="item.receiver.thumb_image && item.receiver.thumb_image!=''">
                          <img src="{{item.receiver.thumb_image}}" alt="" />
                        </figure>
                        <figure *ngIf="!item.receiver.thumb_image || item.receiver.thumb_image==''">
                          <img src="assets/img/user_img.png" alt="" />
                        </figure>
                  </div>
                  <div class="txt">
                      <h4>{{item.receiver.first_name}} {{item.receiver.last_name}}</h4>
                      <p>{{item.receiver.child_age}} year&nbsp;|&nbsp; {{item.receiver.gender}}</p>
                  </div>
                </div>
              </div>
              </ng-container>

              <div class="row">
                <div class="col-12 col-lg-4 mx-auto">
                  <br>
                  <br>
                  <br>
                  <button type="submit" class="btn__submit" (click)="markdone('all',true)" [disabled]="formload" >DONE <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
                </div>
              </div>

            </div>
          </div>
          <!-- end of notification-blk-div -->


        </div>
        <!-- end of notification-div -->


      </div>
    </div>





  </div>
</section>