 <!-- =========== Reviews ============ -->
 <section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
        <div class="row">
            <div class="col-12 main-title12 clearfix">
                <div class="section-title">
                    <h2>MySafetyNet Features</h2>
                 
                </div>
            </div>
            <!-- section title end -->
        </div>
        <!-- section title row end -->
        
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">

                <div class="features-div1 clearfix">
                    <div class="row wrapper mt-50">

                        <div class="group-features col-lg-3 col-sm-6 highlights-left">
                            <ul>
                                <li>
                                   <h2>Dual-Layered Protection and Validation System</h2>
                                    <p>MySafetyNet implements this protocol to protection all child users. This system is designed to
                                            prevent online predators from using the application to communicate with registered users.</p>
                                </li>
                                <li>
                                    <h2>Real-time Monitoring </h2>
                                    <p>As children validate each other as minors, parents will be alerted through both mobile apps and
                                            e-mail. Parents and children can communicate regarding social interactions without parents
                                            
                                            feeling the need to spy on their child’s online activities.</p>
                                </li>
                                <li>
                                    <h2>One-Time Viewing</h2>
                                    <p>As children view one another and validate one another’s minor status, children have the right to
                                            accept or deny a request from one another. When children accept a request, it’s for a one-time
                                            viewing on a case-by-case basis. This process prevents internet users and predators from using
                                            
                                            a false or stolen badge.</p>
                                </li>
                                <li>
                                    <h2>Personal IDENTITY Badges</h2>
                                    <p> Children can now freely roam the entire internet, including social media and game sites, with
                                            their badges readily acceptable. This allows for minors to instantly validate each other’s
                                            existence as minor children while socially engaging with one another.</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="group-features col-lg-6 col-sm-12 text-center highlights-center">
                            <img src="assets/img/features01.png" alt="" class="img-fluid">
                        </div>

                        <div class="group-features col-lg-3 col-sm-6 highlights-right">
                            <ul>
                                <li>
                                    <h2>Anonymous Complaints</h2>
                                    <p>
                                            MySafetyNet is designed to protect children from online predators. As an added layer of
                                            protection, children have the ability to report other online minors that engage in predator-like
                                            behavior (via badge numbers). Additionally, children can also report adult predators who are in
                                            their home or school without fear of retaliation. The time to protect our children is now!
                                    </p>
                                </li>
                                <li>
                                    <h2>Protect Your Children </h2>
                                    <p>Manage the accounts and profile data for your child throughout our online Parent Portal!</p>
                                </li>
                                <li>
                                    <h2>Ongoing Research</h2>
                                    <p>While working in a collaborative effort with Internet Child Protection Agencies and Foundations,
                                            MySafetyNet will ensure predator internet behaviors are continuously analyzed in order to
                                            
                                            identify threats and implement the data into our application system. </p>
                                </li>
                                <li>
                                    <h2>Child-Only Site</h2>
                                    <p>
                                        For the safety of all children, MySafetyNet is a Child-Only Site and Application system. This
                                            means that only registered, badge-owning minors can enter the site via computer or phone
                                            
                                            applications.
                                         </p>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>    

            </div>
        </div>    
       </div>
</section>    
        
<app-how-it-work></app-how-it-work>