<section class="page-sign-in user-entrance gen-form-div">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{item.username}}</h2>
            <p>{{item.batch_id}}</p>
          </div>
        </div>
        <!-- section title end -->
      </div>
      <!-- section title row end -->
  
  
  
      <div class="row">
        <div class="col-12 col-lg-12 mx-auto">
  
          <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
              <div class="user-form">
                <form class="form sign-up__form" [formGroup]="childForm" (ngSubmit)="onSubmit(childForm.value)">
                  <div class="myaccount-row-blk clearfix">
  
  
                    <div class="myaccount-row clearfix">
                      <div class="row">
  
                        <div class="col-12 col-lg-4">
  
                          <div class="thumb-div clearfix">
                              <div class="pic" *ngIf="previewImg ==''">
                                <figure *ngIf="item.thumb_image && item.thumb_image!=''">
                                    <img src="{{item.thumb_image}}" alt="" />
                                  </figure>
                                  <figure *ngIf="!item.thumb_image || item.thumb_image==''">
                                      <img src="assets/img/user_img.png" alt="" />
                                    </figure>
                            </div>

                            <div class="pic" *ngIf="previewImg !=''">
                                <figure >
                                  <img [src]="previewImg" alt="" />
                                </figure>
                              </div>

                            <div class="txt">
                                <div class="upload-btn-wrapper">
                                  <button class="btn">Upload a file</button>
                                  <input type="file" name="myfile" (change)="onFileChange($event)"/>
                                </div>
                            </div>
                          </div>
  
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>Gender</label>
                            <input class="form-control" type="text" name="text" value="{{item.gender}}" disabled>
                          </div>
                        </div>
  
  
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>Date of Birth</label>
                            <div class="input-group date">
                              <input type="text" class="form-control" value="{{item.dob}}" disabled>
  
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>First Name</label>
                            <input class="form-control" [formControl]="childForm.controls['first_name']" name="first_name" type="text"  value="{{item.first_name}}">
                            <p class="text-danger" *ngIf="childForm.controls.first_name.invalid && (childForm.controls.first_name.dirty || childForm.controls.first_name.touched || submitted)">First Name is required</p>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>Last Name</label>
                            <input class="form-control" [formControl]="childForm.controls['last_name']" name="last_name" type="text"  value="{{item.last_name}}">
                            <p class="text-danger" *ngIf="childForm.controls.last_name.invalid && (childForm.controls.last_name.dirty || childForm.controls.last_name.touched || submitted)">Last Name is required</p>
                          </div>
                        </div>
                        <!-- end of col -->
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>Phone Number</label>
                            <input   [textMask]="{mask: mask}" class="form-control" [formControl]="childForm.controls['phone']" name="phone" type="text"  value="{{item.phone}}">
                            <p class="text-danger" *ngIf="childForm.controls.phone.hasError('required') && (childForm.controls.phone.dirty || childForm.controls.phone.touched || submitted)">Phone Number is required</p>
                            <p class="text-danger" *ngIf="childForm.controls.phone.hasError('PhoneTen') && (childForm.controls.phone.dirty || childForm.controls.phone.touched || submitted)">Not a valid number</p>
                          </div>
                        </div>
  
  
  
                       
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>School Name</label>
                            <input  type="text" class="form-control" [formControl]="childForm.controls['school_name']" name="school_name"  value="{{item.school_name}}">
                            <p class="text-danger" *ngIf="childForm.controls.school_name.invalid && (childForm.controls.school_name.dirty || childForm.controls.school_name.touched || submitted)">School Name is required</p>
                          </div>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>School District number</label>
                            <input class="form-control" type="text"  [formControl]="childForm.controls['school_district_no']" name="school_district_no" value="{{item.school_district_no}}">
                            <p class="text-danger" *ngIf="childForm.controls.school_district_no.invalid && (childForm.controls.school_district_no.dirty || childForm.controls.school_district_no.touched || submitted)">School District Number is required</p>
                          </div>
                        </div>
  
                        <div class="col-12 col-lg-4">
                          <div class="form__field form__field--group">
                            <label>State</label>
                            <input  type="text" class="form-control"  [formControl]="childForm.controls['state']" name="state" value="{{item.state}}">
                            <p class="text-danger" *ngIf="childForm.controls.state.invalid && (childForm.controls.state.dirty || childForm.controls.state.touched || submitted)">State is required</p>
                          </div>
                        </div>
  
  
  
  
                        <!-- end of col -->
  
                      </div>
                      <!-- end of row -->
                    </div>
  
  
                    <div class="row">
                      <div class="col-12 col-lg-4 mx-auto">
                        <br>
                        <button type="submit" class="btn__submit" [disabled]="formload" >Update <img *ngIf="formload" class="form_loader"  src="assets/img/loader.gif" alt="Processing ..."></button>
                      </div>
                    </div>
  
  
  
                  </div>
                  <!-- end of myaccount-row-blk -->
                </form>
              </div>
  
            </div>
          </div>
  
  
        </div>
      </div>
  
  
  
  
  
  
    </div>
  </section>